<div class=fgen-container>
    <button (click)="togglePower()" class="powerOff" [ngClass]="{powerOn: powerOn}">
        <ion-icon name="power"></ion-icon>
    </button>
    <div class="clear-fgen"></div>
    <div class="dropdown">
        <button class="text-button-side disable-hover" [disabled]="powerOn" (click)="toggleWave(waveType)">Wave Type: {{waveType}}</button>
        <div class="dropdown-content" [ngClass]="{show: showWaves}">
            <a (click)="toggleWave('sine')">Sine</a>
            <a (click)="toggleWave('ramp-up')">Ramp-Up</a>
            <a (click)="toggleWave('ramp-down')">Ramp-Down</a>
            <a (click)="toggleWave('square')">Square</a>
            <a (click)="toggleWave('dc')">DC</a>
            <a (click)="toggleWave('triangle')">Triangle</a>
        </div>
    </div>
    <ion-list class="list-controls">
        <ion-item class="list-item">
            <ion-label stacked>Frequency (Hz):</ion-label>
            <ion-input type="number" [disabled]="powerOn" [(ngModel)]="frequency"></ion-input>
        </ion-item>
        <ion-item class="list-item">
            <ion-label stacked>Amplitude:</ion-label>
            <ion-input type="number" [disabled]="powerOn" [(ngModel)]="amplitude"></ion-input>
        </ion-item>
        <ion-item class="list-item">
            <ion-label stacked>DC Offset (V):</ion-label>
            <ion-input type="number" [disabled]="powerOn" [(ngModel)]="offset"></ion-input>
        </ion-item>
        <ion-item class="list-item">
            <ion-label stacked>Duty Cycle (%):</ion-label>
            <ion-input [disabled]="!isSquare() || powerOn" type="number" [(ngModel)]="dutyCycle"></ion-input>
        </ion-item>
    </ion-list>
    <div class="clear-fgen"></div>
    <button class="text-button-side disable-hover" [disabled]="powerOn" (click)="openFgen(5)">Configure Function Gen</button>
</div> 