.dropdown 
{
    position: relative;
    display: inline-block;
}

.clear-fgen
{
    clear: both;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid black 1px;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1;
    cursor: pointer;
}

.show 
{
    z-index: 2;
    display: block;
}

.fgen-container .powerOff
{
    background-color: red;
}

.fgen-container .powerOn
{
    background-color: green;
}

.fgen-container .powerOff:hover
{
    background-color: red;
}

.fgen-container .powerOn:hover
{
    background-color: green;
}

.fgen-container .list-controls
{
    margin-bottom: 2px;
    background-color: #535353;
    border-top: solid black 1px;
}

.fgen-container .list-item
{
    background-color: #444444;
    color: white;
}

.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #686868;
    box-shadow: inset 0 -1px 0 0 black;
}

.item-input.input-has-focus .item-inner {
    border-bottom-color: #686868;
    box-shadow: inset 0 -1px 0 0 black;
}

ion-list .item:first-child {
    border-top: solid #686868 1px;
}

ion-list .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: #535353;
    box-shadow: inset 0 -1px 0 0 black;
}

ion-list .item-input.input-has-focus:last-child {
    border-bottom-color: #535353;
    box-shadow: inset 0 -1px 0 0 black;
}