<div class="logger-component-container">

    <div>
        <div class="header-bar-side">
            <ion-row>
                <ion-col class="header-side-col" center text-right>
                </ion-col>
                <ion-col center text-center>
                    <div class="instrument-header">Logger</div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                    <button ion-button clear class="header-button disable-hover main-button" (tap)="running ? stopLogger() : startLogger()">
                        <img class="custom-image-button svg-size" [src]="running ? 'assets/img/stop.svg' : 'assets/img/run.svg'">
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div class="button-info-container">
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Profile
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <dropdown-popover #dropPopProfile [dataArray]="loggingProfiles" (onSelection)="profileSelect($event)"></dropdown-popover>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="selectedLogProfile === 'New Profile'" class="controls-container">
                <ion-col center class="vpd-label-col">
                    Name
                </ion-col>
                <ion-col class="vpd-val-col one-button-col" center text-center>
                    <input class="custom-input" step="any" [(ngModel)]="profileNameScratch" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="saveAndSetProfile()">
                            <img class="custom-image-button svg-size" src="assets/img/save.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Mode
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <dropdown-popover #dropPopMode [dataArray]="modes" (onSelection)="modeSelect($event)"></dropdown-popover>
                </ion-col>
            </ion-row>

        </div>
    </div>

    <div *ngFor="let series of analogChans, let i = index;" class="set-top-border">
        <div class="header-bar-side">
            <ion-row>
                <ion-col class="header-side-col" center text-left>
                    <button ion-button clear class="dropdown-image-button" (tap)="toggleSeriesSettings('analog', i)">
                        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showAnalogChan[i]}" src="assets/img/collapse-arrow-right.svg">
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <div class="instrument-header">Analog Ch {{i + 1}}</div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                </ion-col>
            </ion-row>
            
        </div>
        <!-- Use display none instead of ngIf to keep a reference in the dom to allow for the dropPops to be found by ViewChildren -->
        <div class="button-info-container" [ngClass]="{'display-none': !showAnalogChan[i]}">

            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Link
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <dropdown-popover #dropPopLink [id]="'link' + i" [dataArray]="analogLinkOptions[i]" (onSelection)="linkSelect($event, 'analog', i)"></dropdown-popover>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    State
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <input class="custom-input" step="any" [(ngModel)]="series.state" disabled="true" />
                </ion-col>
            </ion-row>

            <div  [ngClass]="{'display-none': series.linked}">
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Samples/
                    </ion-col>
                    <ion-col text-right center class="vpd-button-col">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-out.svg">
                            </button>
                        </div>
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <input class="custom-input" step="any" [ngModel]="series.sampleFreq | unitFormat:'S/s'" formatInput (valChange)="formatInputAndUpdate($event, 'analog', 'sampleFreq', i)" />
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-in.svg">
                            </button>
                        </div>
                    </ion-col>
                </ion-row>
                
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Samples
                    </ion-col>
                    <ion-col text-right center class="vpd-button-col">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-out.svg">
                            </button>
                        </div>
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <input class="custom-input" step="any" [ngModel]="series.maxSampleCount | unitFormat:'S'" formatInput (valChange)="formatInputAndUpdate($event, 'analog', 'samples', i)" />
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-in.svg">
                            </button>
                        </div>
                    </ion-col>
                </ion-row>
                
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Offset
                    </ion-col>
                    <ion-col text-right center class="vpd-button-col">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-out.svg">
                            </button>
                        </div>
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <input class="custom-input" step="any" [ngModel]="series.vOffset | unitFormat:'V'" formatInput (valChange)="formatInputAndUpdate($event, 'analog', 'offset', i)" />
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-in.svg">
                            </button>
                        </div>
                    </ion-col>
                </ion-row>
                
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Start
                    </ion-col>
                    <ion-col text-right center class="vpd-button-col">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-out.svg">
                            </button>
                        </div>
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <input class="custom-input" step="any" [ngModel]="series.startDelay | unitFormat:'s'" formatInput (valChange)="formatInputAndUpdate($event, 'analog', 'delay', i)" />
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-in.svg">
                            </button>
                        </div>
                    </ion-col>
                </ion-row>
                
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Overflow
                    </ion-col>
                    <ion-col class="vpd-input-col no-button-col" center text-center>
                        <dropdown-popover #dropPopOverflow [id]="'overflow' + i" [dataArray]="overflowConditions" (onSelection)="overflowSelect($event, 'analog', i)"></dropdown-popover>
                    </ion-col>
                </ion-row>
                
                <ion-row class="controls-container" [ngClass]="{'display-none': selectedMode === 'stream'}">
                    <ion-col center class="vpd-label-col">
                        Location
                    </ion-col>
                    <ion-col class="vpd-input-col no-button-col" center text-center>
                        <dropdown-popover #dropPopLocation [id]="'location' + i" [dataArray]="storageLocations" (onSelection)="locationSelect($event, 'analog', i)"></dropdown-popover>
                    </ion-col>
                </ion-row>

            </div>
            
            <ion-row class="controls-container" [ngClass]="{'display-none': selectedMode === 'stream'}">
                <ion-col center class="vpd-label-col">
                    {{series.storageLocation === 'cloud' ? 'Topic' : 'File Name'}}
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <input class="custom-input" step="any" [(ngModel)]="series.uri" />
                </ion-col>
            </ion-row>

        </div>
    </div>
</div>