<div class="yaxis-component-container">
    <div *ngFor="let series of analogChans, let i = index;" [ngClass]="{'set-top-border':i!=0}">
        <div class="header-bar-side">
            <ion-row>
                <ion-col class="header-side-col" center text-left>
                    <button ion-button clear class="dropdown-image-button" (tap)="toggleSeriesSettings('analog', i)">
                        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showAnalogChan[i]}" src="assets/img/collapse-arrow-right.svg">
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <div class="instrument-header">Analog Ch {{i + 1}}</div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                    <button ion-button clear class="header-button disable-hover"></button>
                </ion-col>
            </ion-row>
            
        </div>
        <div *ngIf="showAnalogChan[i]" class="button-info-container">
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Samples/
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.sampleFreq | unitFormat:'S/s'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Samples
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.maxSampleCount | unitFormat:'S'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Offset
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.vOffset | unitFormat:'V'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Delay
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.startDelay | unitFormat:'s'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Overflow
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.overflow" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Storage Location
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.storageLocation" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    File | URL
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.uri" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>


        </div>
    </div>
</div>