<div class="logger-component-container">

    <div>
        <div class="button-info-container">
            <logger-xaxis #xaxis (tpdChange)="xAxisValChange($event)" [tpdArray]="loggerPlotService.tpdArray" [tpdIndex]="loggerPlotService.tpdIndex"
                [tpdAbsolute]="loggerPlotService.xAxis.base"></logger-xaxis>

            <ion-row class="controls-container pad-bottom">
                <ion-col center class="vpd-label-col">
                    Samples/
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="icon-only-button-side disable-hover" (tap)="decrementFrequency('analog', 'sampleFreq')"
                            [disabled]="running">
                            <img class="custom-image-button" src="assets/img/remove.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="daqParams.sampleFreq | unitFormat:'S/s'" [disabled]="running" formatInput
                        (valChange)="formatInputAndUpdate($event, 'analog', 'sampleFreq')" (mousewheel)="mousewheel($event, 'analog', undefined, 'sampleFreq')"
                        [tooltip]="tooltipService.getTooltip('logSampleFreq').message" [tooltipAnimation]="true" tooltipPlacement="top"
                    />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="icon-only-button-side disable-hover" (tap)="incrementFrequency('analog', 'sampleFreq')"
                            [disabled]="running">
                            <img class="custom-image-button" src="assets/img/add.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container pad-bottom">
                <ion-col center class="vpd-label-col">
                    Log To
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <dropdown-popover #dropPopLogTo [dataArray]="logToLocations" (onSelection)="logToSelect($event)" [disabled]="running" [tooltip]="tooltipService.getTooltip('logLocation').message"
                        [tooltipAnimation]="true" tooltipPlacement="top">
                    </dropdown-popover>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container pad-bottom" [ngClass]="{'display-none': selectedLogLocation === 'chart'}">
                <ion-col center class="vpd-label-col">File Name</ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <input class="custom-input" step="any" (change)="updateUri($event)" placeholder="logData" [disabled]="running" [tooltip]="tooltipService.getTooltip('logFileName').message" [tooltipAnimation]="true" tooltipPlacement="top" />
                </ion-col>
            </ion-row>
        </div>
    </div>

    <div class="set-top-border">
        <div class="header-bar-side">
            <ion-row>
                <ion-col class="header-side-col" center text-left>
                    <button ion-button clear class="dropdown-image-button" (tap)="toggleAdvSettings()">
                        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showAdvSettings}" src="assets/img/collapse-arrow-right.svg">
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <div class="instrument-header">Advanced</div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                </ion-col>
            </ion-row>
        </div>

        <div class="button-info-container" [ngClass]="{'display-none': !showAdvSettings}">
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Profile
                    <img *ngIf="dirtyProfile" class="svg-size" src="assets/img/dirty-dot.svg">
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <dropdown-popover class="profile-drop-pop" #dropPopProfile [dataArray]="loggingProfiles" (onSelection)="profileSelect($event)"
                        [disabled]="running" [tooltip]="tooltipService.getTooltip('logProfile').message" [tooltipAnimation]="true"
                        tooltipPlacement="top">
                    </dropdown-popover>
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="profileSaveClick(selectedLogProfile, $event)" [disabled]="running"
                            [tooltip]="tooltipService.getTooltip('logSaveProfile').message" [tooltipAnimation]="true" tooltipPlacement="left">
                            <img class="custom-image-button svg-size" src="assets/img/save.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="openProfileSettings(selectedLogProfile, $event)" [disabled]="running || selectedLogProfile == 'New Profile'"
                            [tooltip]="tooltipService.getTooltip('logProfileSettings').message" [tooltipAnimation]="true" tooltipPlacement="left">
                            <img class="custom-image-button svg-size" src="assets/img/settings.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Log On Boot
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <dropdown-popover class="profile-drop-pop" [dataArray]="logOnBootProfiles" [disabled]="running">
                    </dropdown-popover>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Mode
                </ion-col>
                <ion-col class="vpd-input-col no-button-col" center text-center>
                    <dropdown-popover #dropPopMode [dataArray]="modes" (onSelection)="modeSelect($event)" [disabled]="running" [tooltip]="tooltipService.getTooltip('logSampleMode').message"
                        [tooltipAnimation]="true" tooltipPlacement="top">
                    </dropdown-popover>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container" *ngIf="selectedMode === 'finite'">
                <ion-col center class="vpd-label-col">
                    Samples
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="icon-only-button-side disable-hover" (tap)="decrementFrequency('analog', 'samples')"
                            [disabled]="running">
                            <img class="custom-image-button" src="assets/img/remove.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="daqParams.maxSampleCount | unitFormat:'S'" [disabled]="running" formatInput
                        (valChange)="formatInputAndUpdate($event, 'analog', 'samples', undefined)" (mousewheel)="mousewheel($event, 'analog', undefined, 'samples')"
                        [tooltip]="tooltipService.getTooltip('logSamples').message" [tooltipAnimation]="true" tooltipPlacement="top"
                    />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="icon-only-button-side disable-hover" (tap)="incrementFrequency('analog', 'samples')"
                            [disabled]="running">
                            <img class="custom-image-button" src="assets/img/add.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container  pad-bottom">
                <ion-col center class="vpd-label-col">
                    Average
                </ion-col>
                <ion-col center class="xaxis-left">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="decrementAverage()" [disabled]="average === 1">
                            <img class="custom-image-button" src="assets/img/remove.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="xaxis-center" center text-center>
                    <div style="display:inline-block;" [tooltip]="tooltipService.getTooltip('xAxisTf').message" [tooltipAnimation]="true" tooltipPlacement="bottom">
                        <input formatInput readonly="readonly" class="custom-input" step="any" [ngModel]="average | averageFormat: 'Sample'" />
                    </div>
                </ion-col>
                <ion-col center class="xaxis-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="incrementAverage()" [disabled]="average === maxAverage">
                            <img class="custom-image-button" src="assets/img/add.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

        </div>
    </div>

    <div class="set-top-border">
        <div class="header-bar-side">
            <ion-row>
                <ion-col class="header-side-col" center text-left>
                    <button ion-button clear class="dropdown-image-button" (tap)="toggleLoggerSettings()">
                        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showLoggerSettings}" src="assets/img/collapse-arrow-right.svg">
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <div class="instrument-header">Logger</div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                    <button ion-button id="channels-btn" class="img-button disable-hover" [tooltip]="tooltipService.getTooltip('logSelectChannels').message"
                        [tooltipAnimation]="true" tooltipPlacement="left">
                        <img class="custom-image-button" src="assets/img/add.svg" (tap)="openChannelSelector($event)">
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <div *ngFor="let series of analogChans, let i = index;" (tap)="setActiveSeries('analog', i)" [ngClass]="{'display-none': !showLoggerSettings || !selectedChannels[i]}">
        <div>
            <ion-row class="pad-top">
                <ion-col class="header-side-col" center text-left>
                </ion-col>
                <ion-col center text-center>
                    <div class="instrument-header">Analog Ch {{i + 1}}</div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                </ion-col>
            </ion-row>
        </div>

        <div class="button-info-container pad-bottom">
            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Volts/
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="incrementVpd(i)" [disabled]="loggerPlotService.vpdIndices[i] > loggerPlotService.vpdArray.length - 2">
                            <img class="custom-image-button" src="assets/img/zoom-out.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input highlight-input" step="any" [ngModel]="loggerPlotService.vpdArray[loggerPlotService.vpdIndices[i]] | unitFormat:'V/'"
                        formatInput (valChange)="yAxisValChange($event, i)" (mousewheel)="mousewheel($event, 'analog', i, 'vpd')"
                        [tooltip]="tooltipService.getTooltip('oscVpd').message" [tooltipAnimation]="true" tooltipPlacement="top"
                    />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="img-button disable-hover" (tap)="decrementVpd(i)" [disabled]="loggerPlotService.vpdIndices[i] < 1">
                            <img class="custom-image-button" src="assets/img/zoom-in.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="controls-container">
                <ion-col center class="vpd-label-col">
                    Offset
                </ion-col>
                <ion-col text-right center class="vpd-button-col">
                    <div style="display:inline-block">
                        <button ion-button class="icon-only-button-side disable-hover" (tap)="buttonChangeOffset(i, 'decrement')">
                            <img class="custom-image-button" src="assets/img/remove.svg">
                        </button>
                    </div>
                </ion-col>
                <ion-col class="vpd-val-col" center text-center>
                    <input class="custom-input" step="any" [ngModel]="series.vOffset | unitFormat:'V'" formatInput (valChange)="formatInputAndUpdate($event, 'analog', 'offset', i)"
                        (mousewheel)="mousewheel($event, 'analog', i, 'offset')" [tooltip]="tooltipService.getTooltip('oscOffset').message"
                        [tooltipAnimation]="true" tooltipPlacement="top" />
                </ion-col>
                <ion-col text-left center class="vpd-button-col margin-right">
                    <div style="display:inline-block">
                        <button ion-button class="icon-only-button-side disable-hover" (tap)="buttonChangeOffset(i, 'increment')">
                            <img class="custom-image-button" src="assets/img/add.svg">
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <div class="pad-bottom">
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Scaling
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <dropdown-popover class="profile-drop-pop highlight-input" #dropPopScaling [dataArray]="scalingOptions" (onSelection)="scaleSelect($event, i)" [disabled]="running"
                            [tooltip]="tooltipService.getTooltip('logSetScaling').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        </dropdown-popover>
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover" (tap)="openScaleSettings($event, i, true)" [disabled]="running" [tooltip]="tooltipService.getTooltip('logNewScale').message"
                                [tooltipAnimation]="true" tooltipPlacement="top">
                                <img class="custom-image-button svg-size" src="assets/img/add.svg">
                            </button>
                        </div>
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button class="img-button disable-hover" (tap)="openScaleSettings($event, i, false)" [disabled]="running || selectedScales[i] === 'None'"
                                [tooltip]="tooltipService.getTooltip('logScaleSettings').message" [tooltipAnimation]="true" tooltipPlacement="left">
                                <img class="custom-image-button svg-size" src="assets/img/settings.svg">
                            </button>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</div>