.wrapper
{
    background-color: purple;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.controls
{
    background-color: green;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.graph
{
    background-color: red;   
    position: absolute;
    padding: 15px;
    margin-right: 15px;
}

.wrapper.controlsVisible
{
    padding-left: 250px;
}

.wrapper.controlsVisible .controls
{
     position: absolute;
     width: 250px;
}

.wrapper.controlsVisible .graph
{
    background-color: blue;
    position: absolute;
    margin-right: 15px;
}

