<ion-list>
    <ion-item-group *ngFor="let series of chart.numSeries; let i = index" (click)="setActiveSeries(i)">
        <ion-item-divider light>Series {{i}} Settings</ion-item-divider>
        <ion-item><button (click)="autoscaleY(i)">Autoscale Series {{i}}</button></ion-item>
        <ion-item><button (click)="changeMultiplier(i, $event)">{{chart.voltageMultipliers[i]}}</button></ion-item>
        <ion-item>
            <ion-label>{{chart.voltageMultipliers[i]}}/div:</ion-label>
            <ion-input type="number" [(ngModel)]="chart.voltDivision[i]" (ngModelChange)="seriesChanged(i)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Offset ({{chart.voltageMultipliers[i]}}):</ion-label>
            <ion-input type="number" [(ngModel)]="chart.voltBase[i]" (ngModelChange)="seriesChanged(i)"></ion-input>
        </ion-item>
    </ion-item-group>
</ion-list>