.align-center
{
    text-align: center;
}

.align-center-container
{
    display: flex;
    justify-content: space-between;
}

.align-center-container .align-left
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
    height: 25px;
    font-size: 8px;
    width: 25px;
    background-color: black;
    border-radius: 2px;
}

.align-center-container .align-right
{
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    height: 25px;
    font-size: 8px;
    background-color: #535353;
    border: solid black 1px;
}

.font-size-button
{
    font-size: 8px;
}

.align-center-container .vertical-align
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
}

.icon-only-button-side
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    font-size: 8px;
    height: 25px;
    background-color: #535353;
    border: solid black 1px;
}

.text-button-side
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    font-size: 8px;
    height: 25px;
    font-weight: 400;
    min-width: 75px;
    background-color: #535353;
    border: solid black 1px;
}

.header-bar-side
{
    background-color:#535353;
    border-top: solid #686868 1px;
    padding-top: 1px; 
    padding-bottom: 1px;
    color: white;
}

.controls-container
{
    color: white;
    font-weight: 300;
    background-color: #535353;
    border-bottom: solid black 1px;
}

.seriesHidden
{
    opacity: 0.4;
}

.header-bar-side-closed
{
    border-bottom: solid black 1px;
}

.text-button-main
{
    background-color: #535353;
    border: solid black 1px;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 1px;
    box-shadow: 2px 2px 1px black;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #444444;
    margin-top: -40px;
    margin-left: 0px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

[tooltip]:focus:before {
    opacity: 0;
}

.yaxis-component-wrapper [tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 1px;
    box-shadow: 2px 2px 1px black;    
}

.yaxis-component-wrapper [tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #444444;
    margin-top: -40px;
    margin-left: 0px;    
}

.yaxis-component-wrapper [tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.yaxis-component-wrapper [tooltip]:focus:before {
    opacity: 0;
}