<div *ngFor="let series of chart.numSeries; let i = index" (click)="setActiveSeries(i)">
    <div>
        <div (dblclick)="toggleSeriesSettings(i)" class="align-center-container header-bar-side">
                <button (click)="toggleVisibility(i)" class="align-left" [style.background-color]="red"></button>
                <div class="vertical-align">{{names[i]}}</div>
                <button (click)="openSeriesPopover(i)" class="align-right"><ion-icon name="settings" class="font-size-button"></ion-icon></button>
        </div>
        <ion-row *ngIf="showSeriesSettings[i]">
            <ion-col>
                <center>
                    <div class="yaxis-control-wrapper">
                        <div class="align-center"><button (click)="chart.incrementVPD(i)" class="icon-only-button-side"><ion-icon name="arrow-up"></ion-icon></button></div>
                        <div class="align-center">{{chart.voltsPerDivOpts[chart.activeVPDIndex[i]]}}/div</div>
                        <div class="align-center"><button (click)="chart.decrementVPD(i)" class="icon-only-button-side"><ion-icon name="arrow-down"></ion-icon></button></div>
                    </div>
                </center>
            </ion-col>
            <ion-col>
                <center>
                    <div class="yaxis-control-wrapper">
                        <div class="align-center"><button (click)="chart.incrementOffset(i)" class="icon-only-button-side"><ion-icon name="arrow-up"></ion-icon></button></div>
                        <div class="align-center">Offset</div>
                        <div class="align-center"><button (click)="chart.decrementOffset(i)" class="icon-only-button-side"><ion-icon name="arrow-down"></ion-icon></button></div>
                    </div>
                </center>
            </ion-col>
        </ion-row>
    </div>
</div>