<div class=fgen-container>
    <tooltip-content #okButton [animation]="true" class="tutorial-ok-button">
        <div>
            {{tooltipService.getTooltip('tutorialLoopBack').message}}
        </div>
        <div>
            <button ion-button class="text-button-side disable-hover" (tap)="proceedToNextStage()">ok</button>
        </div>
    </tooltip-content>

    <div *ngIf="settingsService.nestedChannels" class="header-bar-side awg-header">
        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showSettings}" (tap)="toggleAwgSettings()" src="assets/img/arrow-right.png">
        <div class="header-bar-title instrument-header" [tooltip]="okButton" [forceShow]="tutorialMode && tutorialStage === 1" tooltipPlacement="top" onlyForceShow="true">
            Wavegen
        </div>
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>
    <div *ngIf="showSettings">
        <div *ngFor="let channel of activeDevice.instruments.awg.chans, let i = index;" [ngClass]="{'awg-chan-container': settingsService.nestedChannels}">
            <ion-row>
                <ion-col class="header-side-col" center text-left>
                    <button ion-button clear class="dropdown-image-button" (tap)="toggleChanSettings(i)">
                        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showChanSettings[i]}" src="assets/img/arrow-right.png">
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <div [ngClass]="{'instrument-header': !settingsService.nestedChannels}"  [tooltip]="okButton" [forceShow]="tutorialMode && tutorialStage === 1" tooltipPlacement="top" onlyForceShow="true">
                        {{settingsService.nestedChannels === false ? 'Wavegen' : ''}}{{activeDevice.instruments.awg.chans.length < 2 && !settingsService.nestedChannels ? ' ' : 'Ch ' + (i + 1)}}
                    </div>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                    <button ion-button clear (tap)="togglePower($event)" class="powerOff" [disabled]="awaitingResponse" [ngClass]="{powerOn: powerOn,'move-feature-to-front':tutorialStage === 3 && tutorialMode}"
                        [tooltip]="tooltipService.getTooltip(tutorialMode ? 'tutorialFgenPower' : 'fgenPower').message" [tooltipAnimation]="true" tooltipPlacement="left" 
                        [forceShow]="tutorialStage === 3 && tutorialMode" onlyForceShow="true">
                        <ion-icon name="power"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <div *ngIf="showChanSettings[i]">
                <div class="wavetype-images-container" text-center [tooltip]="tooltipService.getTooltip('tutorialWaveSelectButton').message" 
                    [forceShow]="tutorialStage === 2 && tutorialMode" [tooltipAnimation]="true" tooltipPlacement="bottom" onlyForceShow="true">
                    <div (tap)="toggleWave('sine')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='sine','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('sineButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/sine.png">
                    </div>
                    <div (tap)="toggleWave('triangle')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='triangle','dim-image': powerOn&&waveType!=='square','move-feature-to-front':tutorialStage === 2}"
                        [tooltip]="tooltipService.getTooltip(tutorialStage === 2 ? 'tutorialTriangleButton' : 'triangleButton').message" [tooltipAnimation]="true" tooltipPlacement="top"
                        [forceShow]="tutorialStage === 2 && tutorialMode">
                        <img src="assets/img/triangle.png">
                    </div>
                    <div (tap)="toggleWave('sawtooth')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='sawtooth','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('sawtoothButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/sawtooth.png">
                    </div>
                    <div (tap)="toggleWave('square')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='square','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('squareButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/square.png">
                    </div>
                    <div (tap)="toggleWave('dc')" class="wavetype-image image-end" [ngClass]="{'selected-wavetype': waveType==='dc','dim-image': powerOn&&waveType!=='dc'}"
                        [tooltip]="tooltipService.getTooltip('dcButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/dc.png">
                    </div>
                </div>
                <ion-row>
                    <ion-col class="input-label" center>
                        Frequency
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="custom-input" step="any" [disabled]="powerOn || waveType==='dc'" [ngModel]="frequency | unitFormat:'Hz'" (focusout)="inputLeave($event, 'frequency')" (keypress)="checkForEnter($event, 'frequency')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="input-label" center>
                        Amplitude
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="custom-input" step="any" [disabled]="powerOn || waveType==='dc'" [ngModel]="amplitude | unitFormat:'Vpp'" (focusout)="inputLeave($event, 'amplitude')" (keypress)="checkForEnter($event, 'amplitude')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="input-label" center>
                        DC Offset
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="custom-input" step="any" [disabled]="powerOn" [ngModel]="offset | unitFormat:'V'" (focusout)="inputLeave($event, 'offset')" (keypress)="checkForEnter($event, 'offset')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <!--<ion-row>
                    <ion-col class="input-label" center>
                        Duty Cycle
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="custom-input" [disabled]="!isSquare() || powerOn" step="any" [ngModel]="dutyCycle | unitFormat:'%'" (focusout)="inputLeave($event, 'dutyCycle')" (keypress)="checkForEnter($event, 'dutyCycle')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>-->
            </div>
        </div>
    </div>
</div> 