<div class=fgen-container>
    <div *ngIf="settingsService.nestedChannels" class="align-center-container header-bar-side awg-header">
        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showSettings}" (click)="toggleAwgSettings()" src="assets/img/arrow-right.png">
        <div class="header-bar-title instrument-header">Wavegen</div>
        <!--<button ion-button class="align-right disable-hover" (click)="openFgen(5)"><ion-icon name="settings"></ion-icon></button>-->
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>
    <div *ngIf="showSettings">
        <div *ngFor="let channel of activeDevice.instruments.awg.chans, let i = index;" [ngClass]="{'awg-chan-container': settingsService.nestedChannels}">
            <div class="align-center-container header-bar-side">
                <img class="custom-dropdown-img" [ngClass]="{rotateOn: showChanSettings[i]}" (click)="toggleChanSettings(i)" src="assets/img/arrow-right.png">
                <div class="vertical-align" [ngClass]="{'instrument-header': !settingsService.nestedChannels}">
                    {{settingsService.nestedChannels === false ? 'Wavegen' : ''}}{{activeDevice.instruments.awg.chans.length < 2 && !settingsService.nestedChannels ? ' ' : 'Ch ' + (i + 1)}}
                </div>
                <button ion-button clear (click)="togglePower($event)" class="powerOff" [ngClass]="{powerOn: powerOn}">
                    <ion-icon name="power"></ion-icon>
                </button>
            </div>
            <div *ngIf="showChanSettings[i]">
                <div class="wavetype-images-container" text-center>
                    <div (click)="toggleWave('sine')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='sine','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('sineButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/sine.png">
                    </div>
                    <div (click)="toggleWave('triangle')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='triangle','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('triangleButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/triangle.png">
                    </div>
                    <div (click)="toggleWave('sawtooth')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='sawtooth','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('sawtoothButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/sawtooth.png">
                    </div>
                    <div (click)="toggleWave('square')" class="wavetype-image" [ngClass]="{'selected-wavetype': waveType==='square','dim-image': powerOn&&waveType!=='square'}"
                        [tooltip]="tooltipService.getTooltip('squareButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/square.png">
                    </div>
                    <div (click)="toggleWave('dc')" class="wavetype-image image-end" [ngClass]="{'selected-wavetype': waveType==='dc','dim-image': powerOn&&waveType!=='dc'}"
                        [tooltip]="tooltipService.getTooltip('dcButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/dc.png">
                    </div>
                </div>
                <ion-row>
                    <ion-col class="input-label" center>
                        Frequency
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="text-input" step="any" [disabled]="powerOn || waveType==='dc'" [ngModel]="frequency | unitFormat:'Hz'" (focusout)="inputLeave($event, 'frequency')" (keypress)="checkForEnter($event, 'frequency')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="input-label" center>
                        Amplitude
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="text-input" step="any" [disabled]="powerOn || waveType==='dc'" [ngModel]="amplitude | unitFormat:'Vpp'" (focusout)="inputLeave($event, 'amplitude')" (keypress)="checkForEnter($event, 'amplitude')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="input-label" center>
                        DC Offset
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="text-input" step="any" [disabled]="powerOn" [ngModel]="offset | unitFormat:'V'" (focusout)="inputLeave($event, 'offset')" (keypress)="checkForEnter($event, 'offset')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="input-label" center>
                        Duty Cycle
                    </ion-col>
                    <ion-col class="input-col">
                        <div class="label-flex">
                            <div class="label-left">
                                <input class="text-input" [disabled]="!isSquare() || powerOn" step="any" [ngModel]="dutyCycle | unitFormat:'%'" (focusout)="inputLeave($event, 'dutyCycle')" (keypress)="checkForEnter($event, 'dutyCycle')" />
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</div> 