<div #oscopeChartInner class="chart-component-wrapper">
    <div class="chart-container-container" id="chart-component-container">
        <div (pinch)="pinchEvent($event)" class="chart-component-container-div" [ngClass]="{pan: canPan, 
                'chart-component-container-div-cursor-timeline': isCursorTimeline(),
                'chart-component-container-div-cursor-only': isCursorOnly(),
                'chart-component-container-div-timeline-only': isTimelineOnly(),
                'chart-component-container-div-vanilla': isVanilla()}">
            <chart [options]="options" (load)="onLoad($event.context)" (touchstart)="onChartClick($event)" (touchend)="clearMouse()" (mousedown)="onChartClick($event)" (mouseup)="clearMouse()">
                <series>
                    <point (click)="onPointSelect($event)"></point>
                </series>
            </chart>
        </div>
    </div>
    <div>
        <ion-row class="chart-info">
            <ion-col center *ngIf="mathEnabled" class="info-col">
                <ion-row center class="cursor-container">
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="openMathModal()" [disabled]="currentBufferArray.length === 0">
                        <span class="collapse-button">Math</span>
                        <ion-icon name="ios-glasses-outline"></ion-icon>
                    </button>
                    <button ion-button class="icon-only-button-side disable-hover" (click)="updateMath()">
                        <ion-icon name="refresh"></ion-icon>
                    </button>
                    <ion-col center class="cursor-info-col" id="test-test">
                        <span *ngIf="selectedMathInfo[0]">
                            <span [style.color]="chart.series[selectedMathInfo[0].channel].color">&#9632;</span>
                            {{selectedMathInfo[0].measurement}}: {{selectedMathInfo[0].value}}
                        </span>
                        <br>
                        <span *ngIf="selectedMathInfo[1]">
                            <span [style.color]="chart.series[selectedMathInfo[1].channel].color">&#9632;</span>
                            {{selectedMathInfo[1].measurement}}: {{selectedMathInfo[1].value}}
                        </span>
                    </ion-col>
                    <ion-col center class="cursor-info-col">
                        <span *ngIf="selectedMathInfo[2]">
                            <span [style.color]="chart.series[selectedMathInfo[2].channel].color">&#9632;</span>
                            {{selectedMathInfo[2].measurement}}: {{selectedMathInfo[2].value}}
                        </span>
                        <br>
                        <span *ngIf="selectedMathInfo[3]">
                            <span [style.color]="chart.series[selectedMathInfo[3].channel].color">&#9632;</span>
                            {{selectedMathInfo[3].measurement}}: {{selectedMathInfo[3].value}}
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col *ngIf="cursorsEnabled" center class="info-col">
                <ion-row center class="cursor-container">
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="openCursorModal()" [disabled]="currentBufferArray.length === 0">
                        <span class="collapse-button">Cursors</span>
                        <ion-icon name="md-create"></ion-icon>
                    </button>
                    <ion-col center *ngIf="cursorType === 'time'" class="cursor-info-col">
                        1: {{getCursorInfo('cursorPosition0')}} <br> 2: {{getCursorInfo('cursorPosition1')}}
                    </ion-col>
                    <ion-col center class="cursor-info-col" *ngIf="cursorType === 'time'">
                        &Delta; X: {{getCursorInfo('xDelta')}} <br> 1/&Delta;X: {{getCursorInfo('xFreq')}}
                    </ion-col>
                    <ion-col center class="cursor-info-col" *ngIf="cursorType === 'track'">
                        1: {{getCursorInfo('cursorPosition0')}} <br> 2: {{getCursorInfo('cursorPosition1')}}
                    </ion-col>
                    <ion-col center class="cursor-info-col" *ngIf="cursorType === 'track'">
                        &Delta;X: {{getCursorInfo('xDelta')}} &Delta;Y: {{getCursorInfo('yDelta')}} <br>
                        1/&Delta;X: {{getCursorInfo('xFreq')}}
                    </ion-col>
                    <ion-col center class="cursor-info-col" *ngIf="cursorType === 'voltage'">
                        1: {{getCursorInfo('cursorPosition0')}} <br> 2: {{getCursorInfo('cursorPosition1')}}
                    </ion-col>
                    <ion-col center class="cursor-info-col" *ngIf="cursorType === 'voltage'">
                        &Delta;Y: {{getCursorInfo('yDelta')}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
</div>