.xaxis-component-wrapper [tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 1px;
    box-shadow: 2px 2px 1px black;    
}

.xaxis-component-wrapper [tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #444444;
    margin-top: -40px;
    margin-left: 0px;    
}

.xaxis-component-wrapper [tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.xaxis-component-wrapper [tooltip]:focus:before {
    opacity: 0;
}