<ion-list>
    <ion-item-group>
        <ion-item-divider light>Time Settings</ion-item-divider>
        <ion-item><button (click)="autoscaleX()">Autoscale X-Axis</button></ion-item>
        <ion-item>
            <ion-label>time/div (s):</ion-label>
            <ion-input type="number" [(ngModel)]="chart.timeDivision" (ngModelChange)="timeChanged()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>base (s):</ion-label>
            <ion-input type="number" [(ngModel)]="chart.base" (ngModelChange)="timeChanged()"></ion-input>
        </ion-item>
    </ion-item-group>
</ion-list>