.fgen-chart-container
{
    height: 90%;
    background-color: yellow;
    padding: 10px;
}
.fgen-chart-container .container-test 
{
    height: 100%;
    padding: 10px;
    background-color: green;
}
