.fgen-chart-container
{
    height: 100%;
    background-color: #535353;
    color: white;
}
.fgen-chart-container .container-test 
{
    height: 100%;
    padding: 10px;
    //background-color: green;
}

.settings-underline
{
    margin-bottom: 0px;
    padding-bottom: 1rem;
    border-bottom: solid black 1px;
}

@media only screen and (min-height: 768px) and (min-width: 768px)
{
    .modal-wrapper
    {
        width: 95%;
        left: calc(50% - (95%/2));
    }
}

.modal-wrapper .modal-fgen-page
{
    width: 100%;
}

.fgen-chart-container .fgen-settings-container
{
    background-color: #535353;
    color: white;
}

.fgen-chart-container .fgen-settings-container .fgen-segment-button
{
    color: white;
}

