<div class="dc-container">
	<div (dblclick)="toggleDcSettings()" class="header-bar-side align-center-container" center text-center>
        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showDcSettings}" (click)="toggleDcSettings()" src="assets/img/arrow-right.png">
        <span class="header-bar-title instrument-header">DC Power Supply</span>
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>
    <div class="dc-content-container">
        <div *ngIf="showDcSettings">
            <ion-row *ngFor="let supply of voltageSupplies; let i = index">
                <ion-col class="input-label" center>
                    Ch {{i + 1}}
                </ion-col>
                <ion-col class="input-col">
                    <div class="label-flex">
                        <div class="label-left">
                            <input class="custom-input" (keypress)="checkForEnter($event, i)" (focusout)="inputLeave(i)" type="number" step="any" [(ngModel)]="voltages[i]" (ngModelChange)="validateSupply(i)"
                                [ngClass]="{wrongPower: !correctVoltages[i]}" />
                        </div>
                        <div class="label-right">
                            <span>V</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>