<div class="dc-container">
	<div (dblclick)="toggleDcSettings()" class="header-bar-side align-center-container" center text-center>
        <div style="width:25px;height:25px;"></div>
        <span class="header-bar-title">DC Power Supply</span>
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>

    <div class="flex-container" *ngFor="let supply of voltageSupplies; let i = index">
        <div class="flex-left">
            {{i + 1}}:
        </div>
        <div class="flex-right">
            <input class="custom-input" (focusout)="inputLeave(i)" type="number" step="any" [(ngModel)]="voltages[i]" (ngModelChange)="validateSupply(i)"
                [ngClass]="{wrongPower: !correctVoltages[i]}" />
        </div>
        <div class="unit">
            V
        </div>
    </div>
</div>