.dc-container
{
    color: white;
}

.dc-container .title
{
    padding: 1px 0px 1px 0px;
    border-top: solid black 1px;
    text-align: center;
    background-color: #444444;
    font-size: 100%;
    color: white;
    cursor: pointer;
}

.dc-container .inline-blockify
{
    display: inline-block;
}
.dc-container .refresh-button
{
    margin-top: -10px;
}

.dc-container .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner 
{
    border: none;
    box-shadow: none;
}

.dc-container .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner 
{
    border: none;
    box-shadow: none;
}

.dc-container .item-input.input-has-focus .item-inner
{
    border: none;
    box-shadow: none;
}

.dc-container .center
{
    color: #999;
    font-size: 1.2rem;
    padding-top: 2px;
}

.dc-container .power-controls
{
    color: white;
}

.dc-container .powerOff
{
    background-color: #444444;
    color: #A1A1A1;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border:solid #444444 1px;
}

.dc-container .powerOn
{
    background-color: #4487BA;
    color: white;
}

.dc-container .power-underline
{
    border-bottom: solid #686868 1px !important;
}

.dc-container .powerOff:hover
{
    background-color: #444444;
    border: solid white 1px;
}

.dc-container .dummy-power-underline
{
    display: inline-block;
    border-bottom: solid #444444 1px;
    margin-bottom: 0px;
}

.dc-container .powerOn:hover
{
    background-color: #4487BA;
}

.dc-container .wrongPower
{
    background-color: yellow;
}

.dc-container .wrongCurrent
{
    background-color: yellow;
}

.dc-container .set-background-color
{
    background-color: #444444;
}

.dc-container .flex-container .item {
    padding-left: 0px;
}

.dc-container .flex-container .unit
{
    flex: 0 0 10px;
    margin-left: 5px;
    align-self: center;
}

.dc-container .flex-container .flex-left .item .item-inner 
{
    border: none;
    box-shadow: none;
    padding-right: 0px;
}

.dc-container .dc-content
{
    border: none;
}

.dc-container .flex-left .item-label-stacked .text-input
{
    text-align: right;
    padding: 2px 0px 0px 2px; 
}

.dc-container .flex-right .item-label-stacked .text-input
{
    text-align: left;
    margin-left: 10px;
    max-width: 70px;
    background-color: #3A3A3A;
    border: solid black 1px;
    padding: 2px 0px 0px 2px;
}

.dc-container .flex-left ion-label[stacked]
{
    text-align: right;
}

.dc-container .flex-right ion-label[stacked]
{
    text-align: left;
    margin-left: 10px;
}

.dc-container .header-bar
{
    background-color:#444444;
    color: white;
}
    
.dc-container .dc-content-container
{
    border-bottom: solid black 1px;
}

.dc-container .input-label
 {
     color: #CCCCCC;
     min-width: 80px;
     padding-right: 0px;
     padding-left: 15px;
     padding-top: 0px;
 }

 .dc-container .label-flex
{
    display: flex;
    flex-direction: row;
    min-width: 114px;
}

.dc-container .label-left
{
    flex: 1 0 84px;
    align-self: center;
}

.dc-container .input-col
{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 6px;
}