<div class="dc-container">
    <div class="title" (click)="headerClicked.emit(null)">
        DC POWER SUPPLY
    </div>
    <ion-row [hidden]="contentHidden">
        <ion-col *ngFor="#supply of voltageSupplies; #i = index">
            DC Power Supply {{i}}
            <ion-item>
                <ion-label stacked>Volts</ion-label>
                <ion-input type="number" [(ngModel)]="voltages[i]" [ngClass]="{powerOn: dcPower}" class="power-controls"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Amps</ion-label>
                <ion-input type="number" [(ngModel)]="currents[i]" [ngClass]="{powerOn: dcPower}" class="power-controls"></ion-input>
            </ion-item> 
            <ion-item>
                <div class="center">{{maxVoltages[i]}}V</div>
            </ion-item>          
        </ion-col>
    </ion-row>
    <div [hidden]="contentHidden" class="center">
        <button (click)="togglePower()" [ngClass]="{powerButtonOn: dcPower}" class="powerButtonOff">
            <ion-icon name="power"></ion-icon>
        </button>
    </div>
</div>