<ion-content class="first-tab-container" padding>
    <div style="text-align: center">
        <img src="assets/img/OpenScope-logo-color-500.png">
        <div style="text-align: center">
            <div class="add-device-container">
                <div class="align-center">
                    <button ion-button icon-right (click)="toggleAddDevMenu()" clear class="dev-menu-button">
                        Add a Device
                        <ion-icon *ngIf="!showDevMenu" name="arrow-dropdown"></ion-icon>
                        <ion-icon *ngIf="showDevMenu" name="arrow-dropup"></ion-icon>
                    </button>
                </div>
                <div [ngClass]="{fadein: showDevMenu}" class="fadeout">
                    <ion-card class="device-manager-card">
                        <ion-item class="device-card-item">
                            <ion-icon class="add-device-icon" item-left name="ios-wifi"></ion-icon>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <ion-label stacked>Hostname / IP</ion-label>
                                    <ion-input [(ngModel)]="addDeviceIp"></ion-input>
                                    <button ion-button class="connect-button disable-hover" item-right (tap)="attemptConnect(addDeviceIp)">Add</button>
                                </ion-item>
                            </ion-label>
                        </ion-item>
                    
                    </ion-card>
                    <ion-card class="device-manager-card">
                        <ion-item class="device-card-item">
                            <ion-icon class="add-device-icon" item-left name="ionitron"></ion-icon>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <div class="custom-ion-label">Simulated Device</div>
                                    <button ion-button icon-right class="similated-device-button" (click)="openSimDevicePopover($event)">
                                        {{selectedSimulatedDevice}}
                                        <ion-icon name="arrow-dropdown"></ion-icon>
                                    </button>
                                    <button ion-button class="connect-button disable-hover" item-right (tap)="openSimDevice()">Add</button>
                                </ion-item>
                            </ion-label>
                        </ion-item>
                    
                    </ion-card>
                    <ion-card class="device-manager-card">
                        <ion-item class="device-card-item">
                            <ion-icon class="add-device-icon" item-left name="construct"></ion-icon>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <ion-label stacked>Agent</ion-label>
                                    <ion-input [(ngModel)]="deviceBridgeAddress"></ion-input>
                                    <button ion-button class="connect-button disable-hover" item-right (tap)="attemptBridgeConnect(deviceBridgeAddress)">Add</button>
                                </ion-item>
                            </ion-label>
                        </ion-item>
                    
                    </ion-card>
                    <!--<ion-item class="dev-menu-item">
                        <ion-label stacked>Hostname / IP</ion-label>
                        <ion-input [(ngModel)]="addDeviceIp"></ion-input>
                        <button ion-button class="connect-button" item-right (click)="attemptConnect(addDeviceIp)">Connect</button>
                    </ion-item>-->
                </div>
                <p class="connection-notice" *ngIf="connectingToDevice">Attempting to Connect to Device</p>
                <ion-spinner class="color-spinner" *ngIf="connectingToDevice" name="crescent"></ion-spinner>
            </div>
        </div>
        <div>
            <ion-card class="device-manager-card" *ngFor="let device of devices, let i = index;">
                <ion-item class="card-item">
                    <ion-avatar item-left (click)="connectToDevice(i)">
                        <img src="assets/img/osmz.png">
                    </ion-avatar>
                    <ion-label class="card-label" (click)="connectToDevice(i)">
                        <h2 class="turn-white">{{device.hostname}}</h2>
                        <p class="turn-white">{{device.ipAddress}}</p>
                        <p class="turn-white">{{device.deviceDescriptor.deviceModel}}</p>
                    </ion-label>
                    
                    <button ion-button class="card-button" clear item-right (click)="openPopover($event, i)"><ion-icon name="more"></ion-icon></button>
                </ion-item>
            
            </ion-card>
        </div>
    </div>
</ion-content>