.first-tab-container
{
    background-color: #535353;
    height: 100%;
}

.first-tab-container .add-device-container
{
    max-width: 500px;
    display: inline-block;
    width: 100%;
}

.first-tab-container .align-center
{
    text-align: center;
}

.first-tab-container .dev-menu-button
{
    width: 100%;
    color: white;
    background-color: #535353;
}

.first-tab-container .dev-menu-item
{
    background-color: #535353;
    color: white;
}

.first-tab-container .connection-notice
{
    color: white;
}

.first-tab-container .connect-button
{
    background-color: #535353;
    border: solid black 1px;
}

.first-tab-container .device-manager-card
{
    max-width: 400px;
    cursor: pointer;
    background-color: #535353;
    display: inline-block;
}

.first-tab-container .device-manager-card .card-item:active
{
    background-color: #686868;
}

.first-tab-container .device-card-item
{
    background-color: #535353;
    border: solid black 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.first-tab-container .item:last-child
{
    border-bottom: solid black 1px;
}

.first-tab-container .device-card-item .item-inner
{
    padding-top: 0px;
    margin-left: 0px !important;
    border-bottom-color: black !important;
    box-shadow: inset 0 0 0 0 black !important;
    padding-right: 0px;
}

.first-tab-container .device-card-item .add-device-icon
{
    color: white;
}

.first-tab-container .device-card-item .dev-menu-item ion-input input
{
    background-color: #3A3A3A;
    border: solid black 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px 0px 2px 4px;
    
}

.first-tab-container .device-card-item .dev-menu-item ion-label
{
    margin-top: 2px;
    margin-bottom: 0px;
}

.first-tab-container .device-card-item .dev-menu-item
{
    padding-left: 2px;
    border: none;
}

.first-tab-container .device-card-item .dev-menu-item .similated-device-button
{
    background-color: #3A3A3A;
    width: 100%;
    border: solid black 1px;
    border-radius: 0px;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
}

.first-tab-container .device-card-item .add-device-label
{
    margin: 0px 0px 0px 0px;
}

.first-tab-container .device-manager-card .card-item
{
    background-color: #535353;
    margin: 0px 0px 0px 0px;
    border: solid black 1px;
    padding: 5px 0px 5px 10px;
    .item-inner {
        padding-right: 0px;
    }
}

.first-tab-container .device-manager-card .card-label > h2
{
    color: white;
}

.first-tab-container .device-manager-card .card-label > p
{
    color: white;
    opacity: 0.5;
}

.first-tab-container .device-manager-card .card-button
{
    min-width: 35px;
    margin: 0.4rem 0.2rem;
}

.fadein, .fadeout {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.fadein {
    max-height: 250px;
}

.first-tab-container .device-manager-card .card-label
{
    margin: 1px 0px 1px 0px;
}

.first-tab-container .color-spinner,.spinner-crescent circle
{
    stroke: #387ef5;
}

.item-md ion-avatar img {
    border-radius: 0px;
    max-width: 50px;
    max-height: 50px;
}

.first-tab-container .custom-ion-label
{
    color: #999;
    font-size: 1.2rem;
    margin-top: 0px;
}

