.timeline-chart-container
{
    position: relative;
    height: 100%;
    width: 100%;
}

.timeline-wrapper 
{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.timeline-wrapper chart 
{
    display: block;
    position: relative;
    height: 100%;
}
