.timeline-wrapper {
    display: block;
    position: relative;
    height: 60px;
    width: 100%;
}

.timeline-wrapper chart {
    display: block;
    position: relative;
    height: 100%;
}