.bottom-wrapper
{
    display: flex;
    flex-direction: row;
    background-color: #535353;
}

.bottom-wrapper .bottom-left
{
    margin-right: 5px;
    flex: 0 1 331px;
    //border-left: solid black 1px;
    border-right: solid black 1px;
    background-color: #444444;
}

.bottom-right
{
    flex: 1 0 423px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    background-color: #444444;
}