.logger-page-container 
{
    width: 100%;
    height: 100%;
    background-color: #535353;
}

.logger-page-container .controls-col
{
    max-width: 240px;
    min-width: 232px;
    padding: 0;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    border-left: solid black 1px;
}

.logger-page-container .chart-container-col
{
    height: 100%;
    background-color: black;
    max-height: 100%;
    padding: 0;
    position: relative;
}

.logger-page-container .page-row
{
    height: calc(100% - 64px);
}

.logger-page-container .logger-timeline-container
{
    height: 52px;
    background-color: black;
    padding: 0;
}

.logger-page-container .timeline-back-button
{
    min-width: 64px;
}

.logger-page-container .logger-header
{
    height: 64px;
}

.logger-page-container .timeline-row-button-container
{
    min-width: 239px;
    max-width: 239px;
}

.logger-page-container .chart-button-container
{
    right: 1px;
}

.logger-page-container .overal-run-status-container
{
    color: #CCCCCC;
}

.logger-page-container .beta-container
{
    position: absolute;
    bottom: 30px;
    width: 150px;
    left: 84px;
    max-width: 15%;
    z-index: 1000;
}

.logger-page-container .chart-and-bottom-container
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logger-page-container .logger-page-chart-container
{
    flex: 1 1 99%;
    position: relative;
}

.logger-page-container .logger-chart-bottom-container
{
    flex: 1 0 0;
}

@media screen and (max-width: 1200px) {
    .logger-page-container .logger-chart-bottom-container .collapse-button {
        display: none;
    }
    .logger-page-container .logger-chart-bottom-container .text-button-side {
        margin-top: 0.1rem;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
        margin-left: 0.1rem;
        font-size: 8px;
        height: 25px;
        background-color: #535353;
        border: solid black 1px;
        border-radius: 0px;
        min-width: 0px;
        padding: 0;
        width: 26px;
    }
    .logger-page-container .logger-chart-bottom-container .text-button-side[icon-right] .button-inner img {
        margin: 0;
    }
}