.logger-page-container 
{
    width: 100%;
    height: 100%;
    background-color: #535353;
}

.logger-page-container .controls-col
{
    max-width: 240px;
    min-width: 232px;
    padding: 0;
    height: 100%;
}

.logger-page-container .chart-container-col
{
    height: 100%;
    background-color: black;
    max-height: 100%;
    padding: 0;
}

.logger-page-container .page-row
{
    height: calc(100% - 64px);
}

.logger-page-container .logger-timeline-container
{
    height: 52px;
    background-color: black;
    padding: 0;
}

.logger-page-container .timeline-back-button
{
    min-width: 64px;
}

.logger-page-container .logger-header
{
    height: 64px;
}