<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
</ion-navbar>

<ion-content padding>

    <h1>Connect to a device:</h1>

    <ion-grid>
        <ion-row>
            <ion-col width-25>
                <h4>Local Simulated Device</h4>
                <ion-input type="url" [(ngModel)]="localSimDevUri"></ion-input>
                <button (click)=connect(localSimDevUri);>Connect</button>
            </ion-col>
            <ion-col width-25>
                <h4>Remote Simulated Device</h4>
                <ion-input type="url" [(ngModel)]="remotesimDevUri"></ion-input>
                <button (click)=connect(remotesimDevUri);>Connect</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <h1> Connected Devices </h1>
    <ul>
        <li *ngFor="let device of deviceManangerService.devices, let i = index;">
            <h4>{{device.deviceMake}} - {{device.deviceModel}}</h4>
            <ul>
                <li><button (click)=navToDcTestPage(i);>DC Supply</button></li>
                <ul>
                    <li>Number of Channels: {{device.instruments.dc.numChans}}</li>
                    <ul>
                        <li *ngFor="let dcChan of device.instruments.dc.chans">
                            <b>{{dcChan.name}}</b>
                            <ul>
                                <li>Voltage Min: {{dcChan.voltageMin}}</li>
                                <li>Voltage Max: {{dcChan.voltageMax}}</li>
                                <li>Voltage Increment: {{dcChan.voltageIncrement}}</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </ul>
        </li>
    </ul>
</ion-content>