<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
        <button class="text-button-main" (click)="sqlSave()">Save</button>
        <button class="text-button-main" (click)="sqlLoad()">Load</button>
    </ion-navbar>
</ion-header>

<ion-content class="settings-body" padding>

    <h1>Connect to a device:</h1>

    <div class="device-connect-container">
        <h4>Device on Network</h4>
        <ion-input type="url" [(ngModel)]="localSimDevUri" (ngModelChange)="onUrlInputChange($event)"></ion-input>
        <button class="text-button-main" (click)=connect(localSimDevUri);>Connect</button>
    </div>

    <h1> Connected Devices </h1>
    <ul>
        <li *ngFor="let device of deviceManangerService.devices, let i = index;">
            <h4 (click)="showInfo()">{{device.deviceMake}} - {{device.deviceModel}}</h4>
            <!---------- AWG ---------->
            <ul *ngIf="showExtraInfo">
                <li><button (click)=navToAwgTestPage(i);>AWG</button></li>
                <li>Number of Channels: {{device.instruments.awg.numChans}}</li>
                <ul>
                    <li *ngFor="let awgChan of device.instruments.awg.chans, let i = index;">
                        <b>{{i + 1}}</b>
                        <ul>
                            <li>Max Resolution: {{awgChan.resolutionMax}}</li>
                            <li>Max Buffer Size: {{awgChan.bufferSizeMax}}</li>
                            <li>Min Frequency: {{awgChan.freqMin}}</li>
                            <li>Max Frequency: {{awgChan.freqMax}}</li>
                            <li>Min Voltage: {{awgChan.voltageMin}}</li>
                            <li>Max Voltage: {{awgChan.voltageMax}}</li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <!---------- DC ---------->
            <ul *ngIf="showExtraInfo">
                <li><button (click)=navToDcTestPage(i);>DC Supply</button></li>
                <ul>
                    <li>Number of Channels: {{device.instruments.dc.numChans}}</li>
                    <ul>
                        <li *ngFor="let dcChan of device.instruments.dc.chans, let i = index;">
                            <b>{{i + 1}}</b>
                            <ul>
                                <li>Voltage Min: {{dcChan.voltageMin}}</li>
                                <li>Voltage Max: {{dcChan.voltageMax}}</li>
                                <li>Voltage Increment: {{dcChan.voltageIncrement}}</li>
                                <li>Current Min: {{dcChan.currentMin}}</li>
                                <li>Current Max: {{dcChan.currentMax}}</li>
                                <li>Current Increment: {{dcChan.currentIncrement}}</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </ul>
            <!---------- LA ---------->
            <ul *ngIf="showExtraInfo">
                <li><button (click)=navToLaTestPage(i);>Logic Analyzer</button></li>
                <ul>
                    <li>Number of Channels: {{device.instruments.la.numChans}}</li>
                    <ul>
                        <li *ngFor="let laChan of device.instruments.la.chans">
                            <b>{{laChan.name}}</b>
                        </li>
                    </ul>
                </ul>
            </ul>
            <!---------- OSC ---------->
            <ul *ngIf="showExtraInfo">
                <li><button (click)=navToOscTestPage(i);>O-Scope</button></li>
                <li>Number of Channels: {{device.instruments.osc.numChans}}</li>
                <ul>
                    <li *ngFor="let oscChan of device.instruments.osc.chans, let i = index;">
                        <b>{{i + 1}}</b>
                        <ul>
                            <li>Adc Range: {{oscChan.adcRange}}</li>
                            <li>Buffer Data Type: {{oscChan.bufferDataType}}</li>
                            <li>Buffer Size Max: {{oscChan.bufferSizeMax}}</li>
                            <li>Effective Bits: {{oscChan.effectiveBits}}</li>
                            <li>Gains: {{oscChan.gains}}</li>
                            <li>Input Swing Offset: {{oscChan.inputSwingOffset}}</li>
                            <li>Input Swing Range: {{oscChan.inputSwingRange}}</li>
                            <li>Sample Clock: {{oscChan.sampleClock}}</li>
                            <li>Sample Clock Dividers: {{oscChan.sampleClockDividers}}</li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </li>
    </ul>
</ion-content>