<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
</ion-navbar>

<ion-content padding>

    <p>Connect to a device:</p>
    <ion-input type="url" [(ngModel)]="targetUri"></ion-input>
    <button (click)=connect(targetUri);>Connect</button>

    <ul>
        <li *ngFor="let device of deviceManangerService.devices, let i = index;">
            <h4>{{device.deviceMake}} - {{device.deviceModel}}</h4>
            <ul>
                <li><button (click)=navToDcTestPage(i);>DC Supply</button></li>
                <ul>
                    <li>Number of Channels: {{device.instruments.dc.numChans}}</li>
                    <ul>
                        <li *ngFor="let dcChan of device.instruments.dc.chans">
                            <b>{{dcChan.name}}</b>
                            <ul>
                                <li>Voltage Min: {{dcChan.voltageMin}}</li>
                                <li>Voltage Max: {{dcChan.voltageMax}}</li>
                                <li>Voltage Increment: {{dcChan.voltageIncrement}}</li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </ul>
        </li>
    </ul>
</ion-content>