<div class="digi-container">
    <div class="title" (click)="headerClicked.emit(null)">
        DIGITAL - I/O
    </div>
    <div class="digi-right" [hidden]="contentHidden">
        <button (click)="doCheckbox()">
            <ion-icon name="ios-more"></ion-icon>
        </button>
    </div>
    <ion-row *ngFor="let channel of gpioArray | slice:4; let i = index" [hidden]="contentHidden">
        <ion-col width-50>
            <ion-checkbox [disabled]="isInput(i)" [ngClass]="{input: !isInput(i)}"></ion-checkbox>
        </ion-col>
        <ion-col width-50>
            <ion-checkbox [disabled]="isInput(i + 4)" [checked]="isHigh(i + 4)" [ngClass]="{input: !isInput(i + 4)}"></ion-checkbox>
        </ion-col>
    </ion-row>
</div>