.digi-container
{
    background-color: #444444; 
}

.digi-container .title
{
    padding: 1px 0px 1px 0px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    text-align: center;
    background-color: #444444;
    font-size: 100%;
    color: white;
}

.digi-container .input
{
    border: solid black 1px;
}

.digi-right
{
    text-align: right;
    padding-right: 5px;
}

.digi-container .digi-button
{
    background-color: #444444;
    border: solid black 1px;
}
