.digi-container
{
    background-color:orange; 
    border-style: solid; 
    border-color: black;
    border-width: 1px;
    width: 100%;
}

.digi-container .title
{
    border-bottom: solid black 1px;
    text-align: center;
    background-color: yellow;
    font-size: 100%;
}
