.digi-container
{
    //background-color:orange; 
}

.digi-container .title
{
    border: solid black 1px;
    text-align: center;
    background-color: #003366;
    font-size: 100%;
}

.digi-container .input
{
    border: solid black 1px;
}

.digi-right
{
    text-align: right;
    padding-right: 5px;
}
