.chart-component-wrapper chart 
{
    display: block;
    position: relative;
    height: 100%;
    //height: 75%;
}

.chart-component-wrapper
{
    display: block;
    position: relative;
    height: 100%;
}

.chart-component-wrapper .cursor-container
{
    display: block;
    //background-color: green;
}

.chart-component-wrapper .cursor-container .info-container
{
    display: inline-block; 
    //background-color: white;
    vertical-align: middle;
}

.chart-component-wrapper .chart-component-container-div-cursor-only
{
    display: block;
    position: relative;
    height: calc(100% - 55px);
}

.chart-component-wrapper .chart-component-container-div-cursor-timeline
{
    display: block;
    position: relative;
    height: calc(100% - 55px - 100px);
}

.chart-component-wrapper .chart-component-container-div-timeline-only
{
    display: block;
    position: relative;
    height: calc(100% - 100px);
}

.chart-component-wrapper .chart-component-container-div-vanilla
{
    display: block;
    position: relative;
    height: 100%;
}

.chart-component-wrapper .pan
{
    cursor: e-resize;
}

.timeline-wrapper 
{
    display: block;
    position: relative;
    height: 100px;
    width: 100%;
}

.timeline-wrapper chart 
{
    display: block;
    position: relative;
    height: 100%;
}

