.chart-component-wrapper chart 
{
    display: block;
    position: relative;
    height: 100%;
    //height: 75%;
}

.chart-component-wrapper
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chart-component-wrapper .chart-container-container
{
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1 1 80%;
}

.chart-component-wrapper .chart-component-container-div-cursor-only
{
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
}

.chart-component-wrapper .chart-component-container-div-cursor-timeline
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.chart-component-wrapper .chart-component-container-div-timeline-only
{
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
}

.chart-component-wrapper .chart-component-container-div-vanilla
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.chart-component-wrapper .pan
{
    cursor: e-resize;
}

.timeline-wrapper 
{
    display: block;
    position: relative;
    height: 100px;
    width: 100%;
}

.timeline-wrapper chart 
{
    display: block;
    position: relative;
    height: 100%;
}

.chart-info
{
    background-color: #535353;
}

.chart-info .info-col
{
    padding: 1px;
    display: inline-block;
}

.chart-info .cursor-info-col
{
    padding: 1px;
    color: white;
}

.chart-info-container
{
    flex: 0 0 26px;
    width: 100%;
    background-color: #535353;
}