.dropdown-popover-container 
{
    width: 100%;
}

.dropdown-popover-container .dropdown-select
{
    width: 100%;
    background-color: #3A3A3A;
    border: solid black 1px;
    color: #CCCCCC;
    border-radius: 0;
    cursor: pointer;
}

.dropdown-popover-container .popover-button
{
    background-color: #3A3A3A;
    width: 100%;
    border: solid black 1px;
    border-radius: 0px;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
    height: 22px;
    font-size: 12px;
    box-shadow: none;
    .button-inner
    {
        justify-content: space-between;
        padding-left: 4px;
        padding-right: 5px;
        text-transform: none;
        color: #CCCCCC;
        img {
            max-height: 100%;
            width: auto;
        }
    }
}