<div class="trigger-pop-container">
    <ion-item class="trigger-pop-item">
        <div class="custom-ion-label">Trigger</div>
        <button ion-button clear (click)="showGenPopover($event, 'trigger')">Trigger</button>
    </ion-item>
    <ion-item class="trigger-pop-item">
        <div class="custom-ion-label">Source</div>
        <button ion-button clear (click)="showGenPopover($event, 'source')">Source</button>
    </ion-item>
    <ion-item class="trigger-pop-item">
        <div class="custom-ion-label">Edge</div>
        <button ion-button clear (click)="showGenPopover($event, 'edge')">Edge</button>
    </ion-item>
    <ion-item class="trigger-pop-item">
        <ion-label stacked>Lower Threshold</ion-label>
        <ion-input type="number" [(ngModel)]="triggerComponent.lowerThresh"></ion-input>
    </ion-item>
    <ion-item class="trigger-pop-item">
        <ion-label stacked>Upper Treshold</ion-label>
        <ion-input type="number" [(ngModel)]="triggerComponent.upperThresh"></ion-input>
    </ion-item>
    <ion-item class="trigger-pop-item">
        <ion-label stacked>Delay</ion-label>
        <ion-input type="number" [(ngModel)]="triggerComponent.delay"></ion-input>
    </ion-item>
</div>