<div class="channel-select-container">
    <ion-row>
        <ion-col center text-center class="header">
            <span>Channels</span>
        </ion-col>
    </ion-row>
    <ion-row wrap class="button-container" text-center>
        <ion-col width-25 *ngFor="let chan of selectedChannels, let i = index">
            <button class="channel-button" [ngStyle]="{'backgroundColor': colorArray[i]}" [ngClass]="{'button-on': selectedChannels[i]}" (click)="toggleChannel(i)">
                {{i+1}}
            </button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <button ion-button icon-left class="text-button-side disable-hover" (click)="close()">Close
            </button>
        </ion-col>
    </ion-row>
</div>