<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>OpenScope Test Panel</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="contentContainer">
    <img src="img/OpenScope-logo-color-500.png">
    <!-- Begin Send Section -->
    <div class="sendContainer">
        <center>
            <h1> Send </h1>
        </center>
        <div>
            <div class="httpMethod">
                <drop-down-menu [itemNames]="httpMethodNames" (valueChange)="onHttpMethodValueChange($event)"></drop-down-menu>
            </div>
            <div class="urlInput">
                <!--<ion-input type="text" placeholder="Enter Target Url" value="" [(ngModel)]="uri" (ngModelChange)="onUrlInputChange($event)"></ion-input> -->
                <ion-input type="text" placeholder="Enter Target Url" value="" [(ngModel)]="uri"></ion-input>
            </div>
            <div class="sendButton">
                <button (click)="send()">Send</button> <button (click)="abort()">Abort</button>
                <br />
                <button (click)="saveState()">Save</button> <button (click)="loadState()">Load</button>
            </div>
        </div>

        <h4>Headers</h4>
        <div class="headers" *ngFor="let header of sendHeaders; let i = index;">
            <div class="headerKey">
                <ion-input type="text" placeholder="Key" value="" [(ngModel)]="sendHeaders[i].key"></ion-input>
            </div>
            <div class="headerValue">
                <ion-input type="text" placeholder="Value" value="" [(ngModel)]="sendHeaders[i].value"></ion-input>
            </div>
            <div class="addHeaderButton" *ngIf="i==numSendHeaders-1">
                <button (click)="addHeader()">+</button>
            </div>
            <div class="removeHeaderButton" *ngIf="i!=numSendHeaders-1">
                <button (click)="removeHeader(i)">-</button>
            </div>

        </div>

        <div>
            <br />
            <h4>Body</h4>
            <h4 class="sendBodyHeader">Templates:</h4>
            <drop-down-menu class="sendCommand" [itemNames]="deviceCommands" (valueChange)="onDeviceCommandChange($event)"></drop-down-menu>
            <drop-down-menu class="sendCommand" [itemNames]="awgCommands" (valueChange)="onAwgCommandChange($event)"></drop-down-menu>
            <drop-down-menu class="sendCommand" [itemNames]="dcCommands" (valueChange)="onDcCommandChange($event)"></drop-down-menu>
            <drop-down-menu class="sendCommand" [itemNames]="oscCommands" (valueChange)="onOscCommandChange($event)"></drop-down-menu>
            <drop-down-menu class="sendCommand" [itemNames]="triggerCommands" (valueChange)="onTriggerCommandChange($event)"></drop-down-menu>
        </div>
        <textarea class="sendBody" [(ngModel)]="sendBody"></textarea>
    </div>
    <!-- End Send Section -->

    <br />
    <br />

    <!-- Begin Response Section -->
    <div class="responseContainer">
        <center>
            <h1> Response </h1>
        </center>

        <h4>Headers</h4>
        <div class="headers" *ngFor="let header of responseHeaders; let i = index;">
            <div class="headerKey">
                <ion-input type="text" placeholder="Key" value="" [(ngModel)]="responseHeaders[i].key"></ion-input>
            </div>
            <div class="headerValue">
                <ion-input type="text" placeholder="Value" value="" [(ngModel)]="responseHeaders[i].value"></ion-input>
            </div>
        </div>


        <div>
            <div class="respBodyContianer">
                <h4 class="responseBodyHeader">Body</h4>
                <drop-down-menu class="responseBodyFormat" [itemNames]="responseBodyFormats" (valueChange)="onResponseBodyFormatChange($event)"></drop-down-menu>
                <textarea class="responseBody" [(ngModel)]="formattedResponseBody"></textarea>
            </div>
        </div>
        <div>
            <div class="respBinaryContainer" *ngIf="isBinaryResponse()">
                <h4 class="responseBodyHeader">Binary</h4>
                <drop-down-menu class="responseBinaryFormat" [itemNames]="responseBinaryFormats" (valueChange)="onResponseBinaryFormatChange($event)"></drop-down-menu>
                <button (click)="chartData()" class="responseBinaryFormat">Chart Data</button>
                <textarea class="responseBinary" [(ngModel)]="formattedResponseBinaryString"></textarea>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <!-- End Response Section -->

</ion-content>