.bottom-wrapper
{
    display: flex;
    flex-direction: row;
    background-color: #444444;
}

.bottom-wrapper .bottom-left
{
    margin-right: 1px;
    flex: 1 0;
    //border-left: solid black 1px;
    border-right: solid black 1px;
    background-color: #444444;
}

.bottom-right
{
    flex: 3 0;
    border-left: solid black 1px;
    border-right: solid black 1px;
    background-color: #444444;
}