.bottom-wrapper
{
    display: flex;
    flex-direction: row;
}

.bottom-component
{
    border-style: solid; 
    border-color: grey;
    border-width: 1px;
    background-color: orange;
}

.left
{
    margin-right: 3px;
    flex: 1 0;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.right
{
    flex: 5 0;
    border-left: solid black 1px;
    border-right: solid black 1px;
}