.bottom-component
{
    border-style: solid; 
    border-color: grey;
    border-width: 1px;
    background-color: orange;
}

.left
{
    margin-right: 3px;
    float: left;
    width: 29.5%;
}

.right
{
    width: 70%;
    float: left;
}