<div class="series-popover-container">
    <ion-item class="item-container">
        <ion-label stacked>Name</ion-label>
        <ion-input [(ngModel)]="yControls.names[seriesNum]"></ion-input>
    </ion-item>
    <ion-item class="item-container">
        <ion-label stacked>V/D</ion-label>
        <ion-input type="number" [(ngModel)]="chart.voltDivision[seriesNum]" (ngModelChange)="yControls.seriesChanged(seriesNum)"></ion-input>
    </ion-item>
    <ion-item class="item-container">
        <ion-label stacked>Offset</ion-label>
        <ion-input type="number" [(ngModel)]="chart.voltBase[seriesNum]" (ngModelChange)="yControls.seriesChanged(seriesNum)"></ion-input>
    </ion-item>
    <ion-item class="item-container">
        <button [disabled]="true">AC</button><button [disabled]="true">DC</button>
    </ion-item>
    <ion-item class="item-container">
        <input [disabled]="true" type="color">
    </ion-item>
</div>