<div class="series-popover-container">
    <ion-item class="item-container">
        <ion-label stacked>Name</ion-label>
        <ion-input [(ngModel)]="yControls.names[seriesNum]"></ion-input>
    </ion-item>
    <ion-item class="item-container">
        <ion-label stacked>V/D</ion-label>
        <ion-input type="number" step="any" [(ngModel)]="chart.voltDivision[seriesNum]" (ngModelChange)="yControls.seriesChanged(seriesNum)"></ion-input>
    </ion-item>
    <ion-item class="item-container">
        <ion-label stacked>Offset</ion-label>
        <ion-input type="number" step="any" [(ngModel)]="chart.voltBase[seriesNum]" (ngModelChange)="yControls.seriesChanged(seriesNum)"></ion-input>
    </ion-item>
    <ion-item class="item-container">
        <button ion-button class="text-button-side" [disabled]="true">AC</button><button ion-button class="text-button-side" [disabled]="true">DC</button>
    </ion-item>
    <div class="ion-item-outline">
        <div class="custom-ion-item">
            <ion-label stacked class="custom-ion-label">Color</ion-label>
            <button [style.background-color]="chart.getSeriesColor(seriesNum)" ion-button (click)="openColorPicker($event)" class="color-picker-button"></button>
        </div>
    </div>
    <input id="color-picker" class="color-picker" type="color" />
</div>