.vertwrapper
{
    background-color: silver; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.tcwrapper
{
    background-color: purple; 
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex: 10 1;
    flex-direction: row;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.botwrapper
{
    width: 100%;
    //height: auto;
    overflow: hidden;
    flex: 0.23 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;  
}

.showbot
{
    //height: 264px;
    flex: 4.5 0;
    overflow: hidden;
    max-height: 264px;
}

.tcwrapper .right
{
    background-color: green;
    display: block;
    //width: 0%;
    min-height:100%; 
    flex: 0 0; 
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}
.tcwrapper.showControls .right 
{
    flex: 1 0;
    height: 100%;
    overflow: auto;
    min-width: 545px;
}

.tcwrapper .left
{  
    background-color: red;
    padding: 10px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1.5 1;
}

.tcwrapper .left .innerCtrls
{
    display: block;
    height: 100%;
    position: relative;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    background-color: orange;  
    text-align: left;
}

.tcwrapper .left .chartWrapper
{
    display: block;
    height: 100%;
    position: relative;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    background-color: yellow; 
   
}
