.tcwrapper
{
    background-color: purple;
    width: 100%;
    height:100%;
    overflow: hidden;
    display: flex;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.tcwrapper .left
{
    background-color: green;
    width: 0%;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   
}
.tcwrapper.controlsVisible .left 
{
    width: 25%; 
}

.tcwrapper .right
{  
    background-color: red;
    flex: 1;
    overflow: hidden;
}