@media only screen and (min-height: 768px) and (min-width: 768px)
{
    .modal-wrapper .modal-cursor-page
    {
        width: 26%;
        left: 38%;
    }
}

.cursor-modal-list
{
    background-color: #535353;
}

.cursor-modal-container ion-list > .item:last-child {
    border-bottom: solid #535353 1px !important;
}

.cursor-modal-container .cursor-modal-item
{
    background-color: #535353;
    color: white;
    border-top: solid #535353 1px !important;
}

.cursor-modal-container .cursor-modal-button
{
    color: white;
}

.cursor-modal-container .close-buttons
{
    color: white;
    background-color: #535353;
    border: solid black 1px;
}

.cursor-modal-container .item .item-inner {
    border-bottom: solid black 1px;
}