.cursor-modal-container
{
    position: absolute;            
    top: 50%;      
    left: 50%;                  
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
}

.cursor-modal-list
{
    background-color: #535353;
}

.cursor-modal-container ion-list > .item:last-child {
    border-bottom: solid #535353 1px !important;
}

.cursor-modal-container .cursor-modal-item
{
    background-color: #535353;
    color: white;
    border-top: solid #535353 1px !important;
}

.cursor-modal-container .cursor-modal-button
{
    color: white;
}

.cursor-modal-container .close-buttons
{
    margin: 4px 0px 4px 0px;

}

.cursor-modal-container .item .item-inner {
    border-bottom: solid black 1px;
}