<ion-content class="update-firmware-container">

    <ion-slides #updateFirmwareSlider>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Update Firmware</div>
                <ion-list class="firmware-list">
                    <ion-item class="firmware-item">
                        <ion-label fixed>Current Firmware Version</ion-label>
                        <div item-right class="general-content">{{deviceFirmwareVersion}}</div>
                    </ion-item>
                    <ion-item class="firmware-item">
                        <ion-label fixed>Latest Firmware Version</ion-label>
                        <div item-right class="general-content">{{latestFirmwareVersion}}</div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>Available Firmware Versions</ion-label>
                        <div item-right class="item-content-right dropdown-popover-item-right">
                            <dropdown-popover [forcePopover]="true" [dataArray]="availableFirmwareVersions" (onSelection)="availableFirmwareVersionsChange($event)"></dropdown-popover>
                        </div>
                    </ion-item>
                    <ion-item class="configure-item" *ngIf="hexFileStaged">
                        <ion-label>Upload Firmware</ion-label>
                        <div item-right class="item-content-right">
                            <button ion-button class="text-button-side disable-hover item-button" (click)="openFileInput()">Browse</button>
                        </div>
                    </ion-item>
                    <ion-item class="firmware-item">
                        <ion-label fixed>Status</ion-label>
                        <div item-right class="general-content">{{updateStatus}}</div>
                    </ion-item>
                </ion-list>
                
                <input class="hidden-file-input" type="file" id="updateFileSelect" name="firmwareFileSelect" (change)="fileChange($event)" />

                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-left>
                            <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()">
                                <img class="custom-image-button" src="assets/img/close.svg">
                                Close
                            </button>
                        </ion-col>
                        <ion-col text-right *ngIf="!firmwareUpToDate">
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="toProgressBar()">
                                Update
                                <img class="custom-image-button" src="assets/img/arrow-forward.svg">
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Updating Firmware</div>
                <digilent-progress-bar #digilentProgressBar (progressBarDone)="doneUpdating()"></digilent-progress-bar>

                <ion-item class="firmware-item">
                    <ion-label fixed>Status</ion-label>
                    <div item-right class="general-content">{{updateStatus}}</div>
                </ion-item>
                
                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-right>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="closeModal()" *ngIf="updateComplete && !errorUpdatingFirmware">
                                Done
                                <img class="custom-image-button" src="assets/img/check.svg">
                            </button>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="closeModal()" *ngIf="errorUpdatingFirmware">
                                <img class="custom-image-button" src="assets/img/remove.svg">
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

    </ion-slides>

</ion-content>