.bode-container
{
    width: 100%;
    height: 100%;
    background-color: #535353;
}

.bode-container .bode-component-wrapper
{
    width: 100%;
    height: calc(100% - 54px);
    position: relative;
}