.container {
    color: white;
}

.vpd-button button {
    font-size: 4px;
}

.scale-label {
    margin-right: 30px;
}

input, label {
    display: inline-block;
}

label {
    vertical-align: middle;
}

.container input {
    width: 45px;
}

.input {
    margin-top: 2.5px;
}