<div class="container">
        <ion-row>
            <ion-col center class="vpd-label-col">Scaling</ion-col>
    
            <ion-col>
                <input name="expression" class="custom-input" [(ngModel)]="expressionString" [disabled]="running">
            </ion-col>
    
            <ion-col>
                <input name="unit" class="custom-input unit" [(ngModel)]="unitDescriptor" [disabled]="running">
            </ion-col>

            <ion-col text-left center class="vpd-button margin-right">
                <div style="display: inline-block">
                    <button ion-button class="icon-only-button-side disable-hover" (click)="signalUpdate()" [disabled]="running">Submit</button>
                </div>
            </ion-col>
        </ion-row>
</div>