.device-configure-modal-container
{
    height: 230px;
    width: 300px;
}

.device-configure-modal-container .device-configure-list
{
    margin-bottom: 0px;
}

.configure-item
{
    background-color: #535353;
    color: white;
}

.configure-item .set-white-font
{
    color: white;
}

.configure-button
{
    color: white;
}

.configure-item .item,.item-inner
{
    border-bottom: solid black 1px;
}

@media only screen and (min-height: 768px) and (min-width: 768px)
{
    .modal-wrapper .device-configure-modal
    {
        width: 26%;
        left: calc(50% - (26%/2));
    }
}