<div class="auto-main" style="background-color:#CCCCCC;border-bottom: solid black 1px;border-top: solid black 1px;padding-top: 5px; padding-bottom: 5px;">
    <div class="align-center">Autoscale</div>
</div>
<div class="options">
    <ion-row>
        <ion-col>
            <center><button class="icon-only-button">hi</button></center>
        </ion-col>
        <ion-col class="vertical-align">
            <center><ion-checkbox></ion-checkbox></center>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <center><button class="icon-only-button">All</button></center>
        </ion-col>
        <ion-col>
            <center><ion-checkbox></ion-checkbox></center>
        </ion-col>
    </ion-row>
</div>