.auto-main .align-center
{
    text-align: center;
}

.active-toggle
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    height: 25px;
    font-size: 8px;
    width: 25px;
    background-color: black;
    border-radius: 2px;
    background-color: #686868;
    border: solid black 1px;
}

.autoscaleIcon
{
    background-color: red;
}

.autoscaleActive
{
    background-color: white;
    opacity: 1;
}