<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DC Supply Test Page</ion-title>
</ion-navbar>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col width-25>
                <h1> Bulk Read </h1>
                <div *ngFor="let chan of activeDevice.instruments.dc.chans; let i = index">
                    <ion-item>
                        <ion-label>{{chan.name}}</ion-label>
                        <ion-checkbox dark checked="true" [(ngModel)]="bulkReadChannelsEnabled[i]"></ion-checkbox>
                    </ion-item>
                </div>
                <button (click)="bulkRead()">Bulk Read</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngFor="let chan of activeDevice.instruments.dc.chans; let i = index">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1> {{chan.name}} </h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h4>{{readVoltages[i]}} V </h4>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col width-10>
                    <ion-input type="text" [(ngModel)]="targetVoltage[i]"></ion-input>
                </ion-col>
                <ion-col width-10>
                    <button (click)="setVoltage(i, targetVoltage[i])">Set</button>
                    <button (click)="getVoltage(i)">Get</button>
                    <ion-item>
                        <ion-label fixed>Stream Delay:</ion-label>
                        <ion-input type="text" [(ngModel)]="streamDelay[i]"></ion-input>
                    </ion-item>
                    <br /> Stream Delay:
                    <button (click)="streamVoltage(i)">Stream Read</button>
                    <br /> Data Frame: {{dataFrame[i]}}
                    <button (click)="stopStream(i)">Stop Stream</button>
                </ion-col>

            </ion-row>
        </ion-grid>
        <br />
        <br />
    </div>


</ion-content>