.settings-body
{
    background-color: #535353;
    color: white;
}

.settings-body .device-connect-container
{
    display: inline-block;
    padding: 10px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.settings-body .center
{
    text-align: center;
}


.settings-body .item-button
{
    font-size: 10px;
}

.settings-body .advanced-settings-container
{
    overflow: hidden;
}

.settings-body .advanced-button
{
    font-size: 14px;
    color: white;
}