<ion-content class="calibration-container">

    <ion-slides #calibrationSlider>

        <ion-slide class="first-slide-container">
            <div class="slide-header">Device Calibration</div>
            <ion-row>
                <ion-col class="icon-col" center text-center>
                    <ion-icon class="intro-icon" name="color-wand"></ion-icon>
                </ion-col>
                <ion-col text-left> 
                    <div class="slide-header">
                        Instructions:
                    </div>
                    <div class="calibration-instructions">
                        {{calibrationInstructions}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-left>
                    <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()">
                        <ion-icon name="close"></ion-icon>
                        Close
                    </button>
                </ion-col>
                <ion-col text-right>
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="toPretest()">
                        Begin
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide class="second-slide-container">
            <div class="slide-header">Calibration Pretest</div>
            <div class="calibration-instructions">
                {{calibrationPretest}}
            </div>
            <ion-row>
                <ion-col text-left>
                    <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()" *ngIf="showCalibrationPretestClose">
                        <ion-icon name="close"></ion-icon>
                        Close
                    </button>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide class="third-slide-container">
            <div class="slide-header">Running Calibration</div>
            <div class="calibration-instructions">
                {{calibrationStatus}}
            </div>
            <ion-row>
                <ion-col text-left>
                    <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()" *ngIf="calibrationFailed">
                        <ion-icon name="close"></ion-icon>
                        Close
                    </button>
                </ion-col>
                <ion-col text-right>
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="toCalibrationSuccessPage()" *ngIf="calibrationSuccessful ||true">
                        Next
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide class="third-slide-container">
            <div class="slide-header">Calibration Information</div>
            <div class="calibration-instructions">
                {{calibrationResults}}
            </div>
            <div class="list-container">
                <ion-row>
                    <ion-col text-left class="status-col">
                        <div class="calibration-instructions status-indicator">Status: </div>
                    </ion-col>
                    <ion-col text-left class="indicator-col">
                        <div class="calibration-instructions">{{calibrationResultsIndicator}}</div>
                    </ion-col>
                </ion-row>

                <div text-center>
                    <ion-item class="calibration-dropdown-popover-container">
                        <span class="storage-label">Storage Location</span>
                        <dropdown-popover [dataArray]="storageLocations" (onSelection)="selectStorage($event)"></dropdown-popover>
                        <button ion-button class="storage-refresh-button icon-only-button-side disable-hover" item-right (click)="getStorageLocations()">
                            <ion-icon name="refresh"></ion-icon>
                        </button>
                    </ion-item>
                </div>

                <ion-item class="calibrate-item">
                    <ion-label>Save Calibration To Selected Location</ion-label>
                    <ion-checkbox [(ngModel)]="saveCalibrationDecision"></ion-checkbox>
                </ion-item>
            </div>
            <ion-row>
                <ion-col text-left>
                    <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()">
                        <ion-icon name="close"></ion-icon>
                        Close
                    </button>
                </ion-col>
                <ion-col text-right>
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="applyCalibrationMaybeSave()">
                        Apply
                        <ion-icon name="open"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-slide>

    </ion-slides>

</ion-content>