<ion-content class="calibration-container">

    <ion-slides #calibrationSlider>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Device Calibration</div>
                <ion-row>
                    <ion-col class="icon-col" center text-center>
                        <ion-icon class="intro-icon" name="color-wand"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="instructions-container">
                    <ion-col text-left class="instructions-col"> 
                        <div class="slide-header">
                            Instructions:
                        </div>
                        <div class="calibration-instructions">
                            {{calibrationInstructions}}
                        </div>
                    </ion-col>
                </ion-row>
                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-left>
                            <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()">
                                <ion-icon name="close"></ion-icon>
                                Close
                            </button>
                        </ion-col>
                        <ion-col text-center>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="toLoadExistingPage()">
                                Load Existing
                                <ion-icon name="archive"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="runCalibration()">
                                Begin
                                <ion-icon name="arrow-forward"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Running Calibration</div>
                <div class="calibration-instructions pad-above">
                    {{calibrationStatus}}
                </div>
                <div text-center class="pad-above">
                    <digilent-progress-bar #digilentProgressBar (progressBarDone)="progressBarFinished()"></digilent-progress-bar>
                </div>
                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-left>
                            <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()" *ngIf="calibrationFailed">
                                <ion-icon name="close"></ion-icon>
                                Close
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="toCalibrationSuccessPage()" *ngIf="calibrationSuccessful">
                                Next
                                <ion-icon name="arrow-forward"></ion-icon>
                            </button>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="startCalibration()" *ngIf="calibrationFailed">
                                Retry
                                <ion-icon name="redo"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Calibration Information</div>
                <div class="calibration-instructions calibration-results">
                    <textarea [ngModel]="calibrationResults" class="calibration-results-container"></textarea>
                </div>
                <div text-center>
                    <ion-item class="calibration-dropdown-popover-container">
                        <span class="storage-label">Storage Location</span>
                        <dropdown-popover [dataArray]="storageLocations" (onSelection)="selectStorage($event)"></dropdown-popover>
                        <button ion-button class="storage-refresh-button icon-only-button-side disable-hover" item-right (click)="getStorageLocations()">
                            <ion-icon name="refresh"></ion-icon>
                        </button>
                    </ion-item>
                </div>
                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-left class="status-indicator-col">
                            <div class="calibration-instructions status-indicator">Status: </div>
                            <div class="calibration-instructions">{{calibrationResultsIndicator}}</div>
                        </ion-col>
                        <ion-col text-right class="button-container-col">
                            <div>
                                <button class="save-button disable-hover" (click)="saveCalibrationToDevice()">
                                    <div>
                                        <img class="svg-in-img" src="assets/img/save.svg" />
                                    </div>
                                    <div>
                                        SAVE
                                    </div>
                                </button>
                            </div>
                            <div>
                                <button ion-button icon-right class="text-button-side disable-hover" (click)="closeModal()">
                                    Done
                                    <ion-icon name="checkmark"></ion-icon>
                                </button>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Loaded Calibration</div>
                <div text-center>
                    <ion-item class="calibration-dropdown-popover-container">
                        <span class="storage-label">Storage Location</span>
                        <dropdown-popover [dataArray]="storageLocations" (onSelection)="selectStorage($event)"></dropdown-popover>
                        <button ion-button class="storage-refresh-button icon-only-button-side disable-hover" item-right (click)="getStorageLocations()">
                            <ion-icon name="refresh"></ion-icon>
                        </button>
                        <button ion-button icon-right class="load-calibration-button text-button-side disable-hover" item-right (click)="loadSelectedCalibration()">
                            Load
                            <ion-icon name="archive"></ion-icon>
                        </button>
                    </ion-item>
                </div>
                
                <div class="calibration-instructions calibration-results">
                    <textarea [ngModel]="calibrationResults" class="calibration-results-container"></textarea>
                </div>

                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-left class="status-indicator-col">
                            <div class="calibration-instructions status-indicator">Status: </div>
                            <div class="calibration-instructions">{{calibrationResultsIndicator}}</div>
                        </ion-col>
                        <ion-col text-right class="button-container-col">
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="closeModal()">
                                Done
                                <ion-icon name="checkmark"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

    </ion-slides>

</ion-content>