.calibration-container
{
    background-color: transparent;
    color: white;
}

.calibration-container .content-container
{
    position: relative;
    height: 100%;
}

.calibration-container .slide-container
{
    .slide-zoom {
        background-color: #535353;
        width: 800px;
        height: 450px;
        max-width: 100%;
        overflow: auto;
        max-height: 100%;
        border: solid black 1px;
    }
}

.calibration-container .calibration-results
{
    //min-height: 400px;
    margin-top: 16px;
    text-align: center;
}

.calibration-container .calibration-results-container
{
    max-height: 200px;
    max-width: 100%;
    height: 200px;
    padding-left: 8px;
    width: 100%;
    color: #CCCCCC;
    background-color: #3A3A3A;
    border: none;
}

.calibration-container .slide-header
{
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
}

.calibration-container .intro-icon
{
    font-size: 120px;
}

.calibration-container .instructions-col
{
    padding-left: 16px;
}

.calibration-container .calibration-instructions
{
    font-size: 14px;
    color: #CCCCCC;
    padding: 0 16px 0 16px;
}
/*
.calibration-container .calibrate-item
{
    background-color: #535353;
    color: white;
}*/

.calibration-container .list-container
{
    padding-top: 16px;
}

.calibration-container .save-button
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    font-size: 10px;
    font-weight: 400;
    background-color: #535353;
    border: solid black 1px;
    border-radius: 0px;
    box-shadow: none;
    color: #CCCCCC;
}

.calibration-container .calibration-dropdown-popover-container
{
    font-size: 16px;
    background-color: #535353;
    .item-inner {
        border: none;
    }
}

.calibration-container .dropdown-popover-container
{
    margin-top: 2px;
    font-size: 0;
}

.calibration-container .status-indicator-col
{
    padding-left: 16px;
}

.calibration-container .dropdown-popover-container .popover-button
{
    height: 25px;
    margin-top:3px;
}

.calibration-container .storage-label
{
    color: #CCCCCC;
    font-size: 1.2rem;
    margin-top: 8px;
    margin-bottom:1px;
}

.calibration-container .storage-refresh-button
{
    margin-top: 32px;
    color: #CCCCCC;
}

.calibration-container .load-calibration-button
{
    margin-top: 32px;
    font-size: 10px;
}

.calibration-container .status-indicator
{
    color: white;
}

.calibration-container .navigation-button-container
{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 11px 11px 11px;
}

.calibration-container .button-container-col
{
    max-width: 120px;
}

.calibration-container .pad-above
{
    padding-top: 16px;
}

.calibration-container .progress-bar
{
    width: 90%;
    height: 30px;
    background-color: #3A3A3A;
}

.calibration-container {
    progress::-webkit-progress-bar {
        background-color:#3A3A3A;
    }
    progress::-webkit-progress-value {
        background-color:#4487BA;
    }
    progress::-moz-progress-bar {
        background-color: #4487BA;
    }
}

@media screen and (max-width: 768px) {
    .calibration-container {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .calibration-container .slide-container .slide-zoom {
        background-color: #535353;
        width: 100%;
        height: 100%;
        max-width: 100%;
        overflow: auto;
        max-height: 100%;
    }

}

@media screen and (max-height: 599px) {
    .calibration-container {
        background-color: rgba(0, 0, 0, 0.4);
    }
}