.calibration-container
{
    background-color: transparent;
    color: white;
}

.calibration-container .first-slide-container
{
    .slide-zoom {
        background-color: #535353;
        max-width: 850px;
        overflow: auto;
        max-height: 100%;
    }
}

.calibration-container .second-slide-container
{
    .slide-zoom {
        background-color: #535353;
        max-width: 400px;
        overflow: auto;
        max-height: 100%;
    }
}

.calibration-container .third-slide-container
{
    .slide-zoom {
        background-color: #535353;
        max-width: 850px;
        overflow: auto;
        max-height: 100%;
    }
}

.calibration-container .calibration-results
{
    min-height: 400px;
}

.calibration-container .slide-header
{
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
}

.calibration-container .intro-icon
{
    font-size: 120px;
}

.calibration-container .icon-col
{
    max-width: 33%;
}

.calibration-container .calibration-instructions
{
    font-size: 14px;
    color: #CCCCCC;
}
/*
.calibration-container .calibrate-item
{
    background-color: #535353;
    color: white;
}*/

.calibration-container .list-container
{
    padding-top: 16px;
}

/*.calibration-container .calibration-dropdown-popover-container
{
    font-size: 16px;
    background-color: #535353;
}

.calibration-container .dropdown-popover-container .popover-button
{
    height: 25px;
    margin-top:3px;
}*/
/*
.calibration-container .storage-label
{
    color: #CCCCCC;
    font-size: 1.2rem;
    margin-top: 8px;
}

.calibration-container .storage-refresh-button
{
    margin-top: 30px;
}*/

.calibration-container .status-indicator
{
    padding-left: 16px;
    color: white;
}

.calibration-container .status-col
{
    padding: 0;
    max-width: 68px;
}

.calibration-container .indicator-col
{
    padding: 0;
}

@media screen and (max-width: 768px) {
    .calibration-container {
        background-color: rgba(0, 0, 0, 0.4);
    }
}