<div class="trigger-container">
	<div class="align-center-container header-bar-side">
		<img class="custom-dropdown-img" [ngClass]="{rotateOn: showTriggerSettings}" (click)="toggleTriggerShow()" src="assets/img/arrow-right.png">
		<div class="header-bar-title instrument-header">Trigger</div>
		<!--<button ion-button class="align-right disable-hover" (click)="openTriggerPopover($event)"><ion-icon name="settings"></ion-icon></button>-->
		<div style="width:26px;height:26px;display:inline-block;"></div>
	</div>
	<div *ngIf="showTriggerSettings" class="controls-container">
		<ion-grid class="ion-grid-no-padding">
			<ion-row class="button-row">
				<ion-col center text-center class="interact-button-col">
					<div class="trigger-image-container">
						<button ion-button class="off-button disable-hover"(click)="setTrigType('rising')"  [ngClass]="{'selected-mode':edgeDirection==='rising'}"
							[tooltip]="tooltipService.getTooltip('triggerRisingEdge').message" [tooltipAnimation]="true" tooltipPlacement="right">
							<img class="custom-image-button" src="assets/img/trigger-rising.png">
						</button>
						<button ion-button class="off-button disable-hover" (click)="setTrigType('falling')" [ngClass]="{'selected-mode':edgeDirection==='falling'}"
							[tooltip]="tooltipService.getTooltip('triggerFallingEdge').message" [tooltipAnimation]="true" tooltipPlacement="top">
							<img class="custom-image-button" src="assets/img/trigger-falling.png">
						</button>
						
						<button ion-button class="off-button disable-hover off-button-right" (click)="setTrigType('off')" [ngClass]="{'selected-mode':edgeDirection==='off'}"
							[tooltip]="tooltipService.getTooltip('triggerOff').message" [tooltipAnimation]="true" tooltipPlacement="top">
							Off
						</button>
					</div>
				</ion-col>
				<ion-col center text-center class="interact-button-col">
					<div>
						<button ion-button class="text-button-side disable-hover" (click)="forceTrigger()"
							[tooltip]="tooltipService.getTooltip('triggerForce').message" [tooltipAnimation]="true" tooltipPlacement="top">
							Force
						</button>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col center class="input-label">
					<span [tooltip]="tooltipService.getTooltip('triggerSource').message" [tooltipAnimation]="true" tooltipPlacement="right">Source</span>
				</ion-col>
				<ion-col class="input-col" center>
                    <div class="label-flex">
                        <div class="label-left">
                            <button ion-button icon-right class="source-button disable-hover" (click)="openGenPopover($event)">
                                {{triggerSource}}
                                <ion-icon name="arrow-dropdown"></ion-icon>
                            </button>
                        </div>
                    </div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col center class="input-label">
					<span [tooltip]="tooltipService.getTooltip('triggerLevel').message" [tooltipAnimation]="true" tooltipPlacement="right">Level</span>
				</ion-col>
				<ion-col center class="input-col">
                    <div class="label-flex">
                        <div class="label-left">
                            <input class="custom-input" step="any" [ngModel]="level | unitFormat:'V'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
                        </div>
                    </div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</div>