.ion-grid-no-padding
{
    padding: 0px;
    padding-bottom: 5px;
}

.trigger-container
{
    background-color: white;
}

.trigger-container .custom-image-button
{
    display: block;
}

.trigger-container .off-button
{
    border-left: solid black 1px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    height: 27px;
    width: 27px;
    padding: 0px;
    background-color: #535353;
    border-radius: 0px;
    color: #CCCCCC;
    font-size: 10px;
    margin: 0px;
    box-shadow: none;
    font-weight: 400;
}

.trigger-container .label-left .dropdown-popover-container select 
{
    height: 25px;
}

.trigger-container .off-button-right
{
    border-right: solid black 1px;
}

.trigger-container .image-container-div
{
    display: inline-block;
    width: 26px;
    height: 26px;
}

.trigger-container .source-button
{
    background-color: #3A3A3A;
    width: 100%;
    border: solid black 1px;
    border-radius: 0px;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
    height: 25px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    margin: 0;

    .button-inner {
        justify-content: space-between;
        padding-left: 4px;
        padding-right: 5px;
        font-weight: 400;
        color: #CCCCCC;
        text-transform: none;
    }
}

.trigger-container .input-label
 {
     color: #CCCCCC;
     min-width: 80px;
     padding-right: 0px;
     padding-left: 15px;
     padding-top: 0px;
     padding-bottom: 0;
 }

 .trigger-container .item-row
 {
     padding-top: 5px;
 }

 .trigger-container .label-flex
{
    display: flex;
    flex-direction: row;
    min-width: 114px;
}
 
.trigger-container .label-left
{
    flex: 1 0 84px;
    align-self: center;
}

.trigger-container .remove-margin
{
    font-size: 0px;
}

.trigger-container .label-right
{
    color: #CCCCCC;
    flex: 0 0 10px;
    align-self: center;
    margin-left: 5px;
}

.trigger-container .input-col
{
    padding: 0;
    padding-right: 6px;
}

.trigger-container
{
    border-bottom: solid black 1px;
}

.trigger-container .trigger-image-container
{
    font-size: 0;
}

.trigger-container .selected-mode
{
    background-color: #4487BA;
}

.trigger-container .button-row
{
    padding-left: 15px;
}

.trigger-container .interact-button-col
{
    padding-top: 0px;
    padding-bottom: 0px;
}