.math-modal-wrapper
{
    background-color: #535353;
}

.math-modal-wrapper .channel-div
{
    padding: 5px;
    border-right: solid black 1px;
}

.math-modal-wrapper .align-buttons
{
    text-align: center;
}

.math-modal-wrapper .button-effects
{
    background-color: #535353;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    min-width: 155px;
}

.math-modal-wrapper .exit-buttons
{
    border-top: solid black 1px;
}