<div class="math-modal-wrapper">
    <ion-row>
        <div class="channel-div">
            <ion-row *ngFor="let chan of mathChannels">
                <ion-col>
                    <button class="button-effects">{{chan}}</button>
                </ion-col>
            </ion-row>
        </div>
        <ion-col>
            <ion-row *ngFor="let row of buttonNames">
                <ion-col *ngFor="let button of row">
                    <button class="button-effects">{{button}}</button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="exit-buttons">
        <ion-col>
            <div class="align-buttons">
                <button class="button-effects" (click)="closeModal()">OK</button>
                <button class="button-effects" (click)="closeModal()">Cancel</button>
            </div>
        </ion-col>
    </ion-row>
</div>