github-fork-ribbon {
    .wfl-github-ribbon {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        z-index: 1000;
        display: block;
    }

    @media screen and (max-width: 605px) {
        .wfl-github-ribbon {
            display: none;
        }
    }
}
