.wifi-setup-container
{
    background-color: transparent;
    color: white;
}

.wifi-setup-container .wifi-content-container
{
    min-height: calc(100% - 43px);
}

.wifi-setup-container .dropdown-popover-item-right
{
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    dropdown-popover {
        width: 100%;
        .dropdown-select {
            cursor: pointer;
            height: 25px;
        }
    }
}

.wifi-setup-container .configure-item
{
    background-color: #535353;
    color: white;
    font-size: 14px;
}

.wifi-setup-container .item-content-right
{
    color: #CCCCCC;
    max-width: 70%;
}

.wifi-setup-container .slide-header
{
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
}

.wifi-setup-container .network-header
{
    font-size: 14px;
    font-weight: 500;
}

.wifi-setup-container .slide-wrapper
{
    min-height: calc(100% - 43px);
}

.wifi-setup-container ion-spinner * {
    stroke: #4487BA;
}

.wifi-setup-container .spinner-container
{
    margin-top: 16px;
}

.wifi-setup-container .network-container
{
    //min-height: 500px;
}

.wifi-setup-container .network-container-column
{
    min-width: 200px;
}

.wifi-setup-container .network-card
{
    background-color: #535353;
    color: white;
    border-radius: 0px;
    border: solid black 1px;
    margin: 0px 0px 4px 10px;
}

.wifi-setup-container .card-info
{
    background-color: #535353;
    color: white;
    cursor: pointer;
    font-size: 14px;

    ion-label {
        margin: 8px 8px 8px 0;
    }
}

.wifi-setup-container .network-button
{
    min-width: 35px;
    color: #4487BA;
    font-size: 18px;
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    .wifi-setup-container {
        background-color: rgba(0, 0, 0, 0.4);
    }
}


@media screen and (max-height: 599px) {
    .wifi-setup-container {
        background-color: rgba(0, 0, 0, 0.4);
    }
}