<ion-content class="wifi-setup-container">

    <ion-slides #wifiSlider>
        <ion-slide class="slide-container">
            <div class="content-container wifi-content-container">
                <div class="slide-header">Networks</div>
                <ion-row class="network-container" wrap>
                    <ion-col class="network-container-column" text-center>
                        <div class="network-header">
                            Available Networks
                        </div>
                        <div text-center *ngIf="!scanningForNetworks" class="available-button-container">
                            <button ion-button [disabled]="deviceObject==undefined||!deviceObject.bridge" class="icon-only-button-side available-network-button disable-hover" (click)="refreshAvailableNetworks()">
                                <img class="custom-image-button" src="assets/img/refresh.svg">
                            </button>
                            <button ion-button class="icon-only-button-side available-network-button disable-hover" (click)="addCustomNetwork()">
                                <img class="custom-image-button" src="assets/img/add.svg">
                            </button>
                        </div>
                        <div text-center *ngIf="scanningForNetworks" class="spinner-container">
                            <ion-spinner name="crescent"></ion-spinner>
                        </div>
                        <div class="available-network-container">
                            <div *ngFor="let availableNetwork of availableNetworks" text-center>
                                <ion-card class="network-card" (click)="routeToConfigSlide(availableNetwork)">
                                    <ion-item class="card-info">
                                        {{availableNetwork.ssid}}
                                    </ion-item>
                                </ion-card>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col class="network-container-column" text-center>
                        <div class="network-header">
                            Saved Networks
                        </div>
                        <div text-center class="available-button-container">
                            <button ion-button [disabled]="scanningForNetworks" class="icon-only-button-side available-network-button disable-hover" (click)="refreshSavedNetworks()">
                                <img class="custom-image-button" src="assets/img/refresh.svg">
                            </button>
                        </div>
                        <div class="available-network-container">
                            <div *ngFor="let savedNetwork of savedNetworks, let i = index;" text-center>
                                <ion-card class="network-card" (click)="loadAndConnect(i)">
                                    <ion-item class="card-info">
                                        {{savedNetwork.ssid}}
                                        <button item-right ion-button clear class="network-button" (click)="showPopover($event, i)">
                                            <img class="custom-image-button" src="assets/img/more.svg">
                                        </button>
                                    </ion-item>
                                </ion-card>
                            </div>
                        </div>
                        
                    </ion-col>
                </ion-row>
                <div text-center>
                    <button ion-button icon-right clear class="advanced-button" (tap)="toggleMainAdvanced()">
                        Advanced
                        <div [@rotate]="showMainAdvanced">
                            <img class="custom-image-button" src="assets/img/arrow-dropdown-white.svg">
                        </div>
                    </button> 
                </div>
                <div>
                    <ion-item class="configure-item collapse-card" [@expand]="showMainAdvanced">
                        <ion-label>NIC</ion-label>
                        <div item-right class="item-content-right dropdown-popover-item-right">
                            <dropdown-popover [forcePopover]="true" [dataArray]="availableNics" (onSelection)="nicSelection($event)"></dropdown-popover>
                        </div>
                    </ion-item>
                    <ion-item class="configure-item collapse-card" [@expand]="showMainAdvanced">
                        <ion-label>Storage Location</ion-label>
                        <div item-right class="item-content-right dropdown-popover-item-right">
                            <dropdown-popover [forcePopover]="true" [dataArray]="storageLocations" (onSelection)="storageSelection($event)"></dropdown-popover>
                        </div>
                    </ion-item>
                    <ion-item class="configure-item collapse-card" *ngIf="currentNicStatus.status === 'connected' && deviceObject && deviceObject.bridge" [@expand]="showMainAdvanced">
                        <button ion-button class="text-button-side item-button disable-hover" (click)="manualDisconnect()">
                            Disconnect From Network
                        </button>
                    </ion-item>
                </div>
            </div>
            <ion-row class="navigation-button-container">
                <ion-col text-left>
                    <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()">
                        <img class="custom-image-button" src="assets/img/close.svg">
                        Close
                    </button>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide class="slide-container">
            <div class="content-container wifi-content-container">
                <div class="slide-header">Setup Wifi</div>

                <ion-list class="wifi-list" *ngIf="!modifyingSaved">

                    <ion-item class="card-info" *ngIf="!customNetworkConfig">
                        <ion-label>SSID</ion-label>
                        <div item-right class="item-content-right">{{selectedNetwork.ssid}}</div>
                    </ion-item>

                    <ion-item class="card-info" *ngIf="customNetworkConfig">
                        <ion-label>SSID</ion-label>
                        <div item-right class="item-content-right hostname-input-wrapper">
                            <input class="custom-input" [(ngModel)]="selectedNetwork.ssid" />
                        </div>
                    </ion-item>

                    <ion-item class="card-info" *ngIf="!customNetworkConfig">
                        <ion-label>Security Type</ion-label>
                        <div item-right class="item-content-right security-type-container">{{selectedNetwork.securityType}}</div>
                    </ion-item>

                    <ion-item class="card-info" *ngIf="customNetworkConfig">
                        <ion-label>Security Type</ion-label>
                        <div item-right class="item-content-right dropdown-popover-item-right">
                            <dropdown-popover [forcePopover]="true" [dataArray]="securityTypes" (onSelection)="customNetworkSecuritySelect($event)"></dropdown-popover>
                        </div>
                    </ion-item>

                    <ion-item class="card-info" *ngIf="selectedNetwork.securityType === 'wpa' || selectedNetwork.securityType === 'wpa2'">
                        <ion-label>Password</ion-label>
                        <div item-right class="item-content-right hostname-input-wrapper">
                            <input type="password" class="custom-input" [(ngModel)]="password" />
                        </div>
                    </ion-item>
                    <div *ngIf="selectedNetwork.securityType === 'wep40' || selectedNetwork.securityType === 'wep104'">
                        <ion-item class="card-info">
                            <ion-label>Wep Key Index</ion-label>
                            <div item-right class="item-content-right hostname-input-wrapper">
                                <input class="custom-input" [(ngModel)]="wepKeyIndex" />
                            </div>
                        </ion-item>
                        <ion-item class="card-info" *ngFor="let key of wepKeyEntryArray, let i = index;">
                            <ion-label>Wep Key {{i + 1}}</ion-label>
                            <div item-right class="item-content-right hostname-input-wrapper" [ngClass]="{'wep104':selectedNetwork.securityType==='wep104'}">
                                <input [placeholder]="selectedNetwork.securityType === 'wep40' ? 'AA:34:CC:78:12' : 'AA:BC:32:38:83:09:B8:8C:7D:FE:FF:6D:1A'" class="custom-input" [(ngModel)]="wepKeyArray[i]" />
                            </div>
                        </ion-item>
                    </div>
                        
                    <ion-item class="card-info">
                        <ion-label>Status</ion-label>
                        <div item-right class="item-content-right">{{wifiStatus}}</div>
                    </ion-item>

                    <button ion-button icon-right clear class="advanced-button" (tap)="toggleAdvancedSettings()">
                        Advanced
                        <div [@rotate]="showAdvancedSettings">
                            <img class="custom-image-button" src="assets/img/arrow-dropdown-white.svg">
                        </div>
                    </button> 

                    <div>
                        <ion-item class="card-info collapse-card" [@expand]="showAdvancedSettings">
                            <ion-label>NIC</ion-label>
                            <div item-right class="item-content-right">{{selectedNic}}</div>
                        </ion-item>

                        <ion-item class="card-info collapse-card" [@expand]="showAdvancedSettings">
                            <ion-label>Storage Location</ion-label>
                            <div item-right class="item-content-right">{{selectedStorageLocation}}</div>
                        </ion-item>

                        <ion-item class="card-info collapse-card" [@expand]="showAdvancedSettings">
                            <ion-label>Save Network</ion-label>
                            <ion-checkbox item-right [(ngModel)]="save" (ngModelChange)="checkboxChanged('save')"></ion-checkbox>
                        </ion-item>
                        
                        <ion-item class="card-info collapse-card" [@expand]="showAdvancedSettings">
                            <ion-label>Auto-Connect</ion-label>
                            <ion-checkbox item-right [(ngModel)]="autoConnect" (ngModelChange)="checkboxChanged('autoConnect')" [disabled]="disableAutoConnect"></ion-checkbox>
                        </ion-item>
                        
                        <ion-item class="card-info collapse-card" [@expand]="showAdvancedSettings" *ngIf="deviceObject!=undefined&&deviceObject.bridge">
                            <ion-label>Connect Now</ion-label>
                            <ion-checkbox item-right [(ngModel)]="connectNow" (ngModelChange)="checkboxChanged('connectNow')"></ion-checkbox>
                        </ion-item>
                    </div>

                </ion-list>

                <ion-list class="wifi-list" *ngIf="modifyingSaved">

                    <ion-item class="card-info">
                        <ion-label>SSID</ion-label>
                        <div item-right class="item-content-right">{{selectedNetwork.ssid}}</div>
                    </ion-item>

                    <ion-item class="card-info">
                        <ion-label>Security Type</ion-label>
                        <div item-right class="item-content-right security-type-container">{{selectedNetwork.securityType}}</div>
                    </ion-item>

                    <ion-item class="card-info" *ngIf="selectedNetwork.securityType === 'wpa' || selectedNetwork.securityType === 'wpa2'">
                        <ion-label>Password</ion-label>
                        <div item-right class="item-content-right hostname-input-wrapper">
                            <input type="password" class="custom-input" [(ngModel)]="password" />
                        </div>
                    </ion-item>
                    <div *ngIf="selectedNetwork.securityType === 'wep40' || selectedNetwork.securityType === 'wep104'">
                        <ion-item class="card-info">
                            <ion-label>Wep Key Index</ion-label>
                            <div item-right class="item-content-right hostname-input-wrapper">
                                <input class="custom-input" [(ngModel)]="wepKeyIndex" />
                            </div>
                        </ion-item>
                        <ion-item class="card-info" *ngFor="let key of wepKeyEntryArray, let i = index;">
                            <ion-label>Wep Key {{i + 1}}</ion-label>
                            <div item-right class="item-content-right hostname-input-wrapper">
                                <input placeholder="AA:34:CC:78:12" class="custom-input" [(ngModel)]="wepKeyArray[i]" />
                            </div>
                        </ion-item>
                    </div>

                    <ion-item class="card-info">
                        <ion-label>Storage Location</ion-label>
                        <div item-right class="item-content-right">{{selectedNetwork.storageLocation}}</div>
                    </ion-item>

                    <ion-item class="card-info">
                        <ion-label>Auto-Connect</ion-label>
                        <ion-checkbox item-right [(ngModel)]="selectedNetwork.autoConnect"></ion-checkbox>
                    </ion-item>

                    <ion-item class="card-info" *ngIf="deviceObject!=undefined&&deviceObject.bridge">
                        <ion-label>Connect Now</ion-label>
                        <ion-checkbox item-right [(ngModel)]="connectNow" (ngModelChange)="checkboxChanged('connectNow')"></ion-checkbox>
                    </ion-item>

                </ion-list>

            </div>
            <div>
                <ion-row class="navigation-button-container">
                    <ion-col text-left>
                        <button ion-button icon-left class="text-button-side disable-hover" (click)="backToNetworks()">
                            <img class="custom-image-button" src="assets/img/close.svg">
                            Cancel
                        </button>
                    </ion-col>
                    <ion-col text-right>
                        <button ion-button icon-right class="text-button-side disable-hover" (click)="addNetwork()" *ngIf="!modifyingSaved">
                            OK
                            <img class="custom-image-button" src="assets/img/check.svg">
                        </button>
                        <button ion-button icon-right class="text-button-side disable-hover" (click)="updateSavedNetwork()" *ngIf="modifyingSaved">
                            Save
                            <img class="svg-save" src="assets/img/save.svg" />
                        </button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>