<div style="background-color: white;">
    <div (dblclick)="toggleTriggerShow()" class="trigger header-bar-side">
        <div style="width:25px;height:25px;"></div>
        <div>Trigger</div>
        <button class="icon-only-button-side" (click)="openSeriesPopover()"><ion-icon name="settings"></ion-icon></button>
    </div>
    <div *ngIf="showTriggerSettings">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <center><img src="img/tpot.jpg"></center>
                </ion-col>
                <ion-col>
                    <center><button class="text-button-side">Force</button></center>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>