.dropdown 
{
    position: relative;
    display: inline-block;
}

.clear-trigger
{
    clear: both;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

.dropdown-content a:hover 
{
    background-color: #f1f1f1;
    cursor: pointer;
}

.show 
{
    z-index: 2;
    display: block;
}