<p>Trigger Settings<button (click)="showAlert()">
            <ion-icon name="ios-more"></ion-icon>
        </button></p>
<div *ngIf="showOptions" class="trigger-dropdown">
    <ion-list class="border">
        <ion-item>
            <ion-label>Delay (s):</ion-label>
            <ion-input type="number" [(ngModel)]="delay"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Level (V):</ion-label>
            <ion-input type="number" [(ngModel)]="level"></ion-input>
        </ion-item>
    </ion-list>
</div>
<div class="dropdown">
    <button (click)="toggleFlagType(flagType)">Flag Type: {{flagType}}</button>
    <div class="dropdown-content" [ngClass]="{show: showFlagMenu}">
        <a (click)="toggleFlagType('Edge')">Edge</a>
        <a (click)="toggleFlagType('Pattern')">Pattern</a>
    </div>
</div>
<div class="clear-trigger"></div>
<div class="dropdown">
    <button (click)="toggleDigitalChannel(selectedChannel)">Channel: {{selectedChannel}}</button>
    <div class="dropdown-content" [ngClass]="{show: showChannels}">
        <a (click)="toggleDigitalChannel(channel)" *ngFor="#channel of channels">{{channel}}</a>
    </div>
</div>
<div class="clear-trigger"></div>
<div class="dropdown">
    <button (click)="toggleTriggerMenu(triggerType)">Trigger Type: {{triggerType}}</button>
    <div class="dropdown-content" [ngClass]="{show: showTriggerMenu}">
        <a (click)="toggleTriggerMenu('rising')">Rising</a>
        <a (click)="toggleTriggerMenu('falling')">Falling</a>
        <a (click)="toggleTriggerMenu('either')">Either</a>
    </div>
</div>
<div class="clear-trigger"></div>
<button (click)="forceTrigger()">Force Trigger Event</button>
