<div style="background-color: white;">
    <div class="trigger" style="background-color:#CCCCCC;border-bottom: solid black 1px;border-top: solid black 1px;padding-top: 5px; padding-bottom: 5px;">
        Trigger
        <button class="icon-only-button" (click)="openSeriesPopover()"><ion-icon name="settings"></ion-icon></button>
    </div>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <center><img src="img/tpot.jpg"></center>
                </ion-col>
                <ion-col>
                    <center><button class="icon-only-button">Force</button></center>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>