<div class="autoscale-container">
    <div (dblclick)="toggleVisibility()" [ngClass]="{'header-bar-side-closed': !show}" class="auto-main header-bar-side">
        <div class="align-center">Autoscale</div>
    </div>
    <div class="options" *ngIf="show" class="controls-container">
        <ion-row>
            <ion-col text-center>
                <button ion-button (click)="autoscaleAxis('x', 0)" class="text-button-side disable-hover">x-axis</button>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let channel of chart.numSeries; let i = index">
            <ion-col text-center>
                <button ion-button (click)="autoscaleAxis('y', i)" class="text-button-side disable-hover">y-axis {{i + 1}}</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button (click)="autoscaleAll()" class="text-button-side disable-hover">All</button>
            </ion-col>
        </ion-row>
    </div>
</div>