.yaxis-component-container .osc-title
{
    color: white;
    height: 31px;
}

.yaxis-component-container
{
    border-bottom: solid black 1px;
}

.align-center
{
    text-align: center;
}

.align-center-container
{
    display: flex;
    justify-content: space-between;
}

.align-center-container .align-left
{
    background-color: #535353;
    color: #CCCCCC;
    border-radius: 0px;
    margin: 0px;
    border: solid #535353 1px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    margin-right: 0.5rem;
    margin-top:2px;
}

.align-center-container .align-left:hover
{
    border: solid white 1px;
}

.align-center-container .align-right
{
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    height: 25px;
    font-size: 8px;
    background-color: #535353;
    border: solid black 1px;
    border-radius: 0px;
    box-shadow: none;
}

.align-center-container .align-right:hover
{
    border: solid white 1px;
}

.align-center-container .vertical-align
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    padding-top: 4px;
}

.header-bar-side .header-bar-title
{
    padding-top: 4px;
}

.icon-only-button-side
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    font-size: 8px;
    height: 25px;
    background-color: #535353;
    border: solid black 1px;
    border-radius: 0px;
    box-shadow: none;
}

.icon-only-button-side:hover
{
    border: solid white 1px;
}

.text-button-side
{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    font-size: 10px;
    height: 25px;
    font-weight: 400;
    min-width: 87px;
    background-color: #535353;
    border: solid black 1px;
    border-radius: 0px;
    box-shadow: none;
    color: #CCCCCC;
}

.text-button-side:hover
{
    border: solid white 1px;
}

.set-darkgrey-font
{
    color: #CCCCCC;
}

.header-bar-side
{
    background-color:#535353;
    border-top: solid #686868 1px;
    padding-top: 1px; 
    padding-bottom: 1px;
    color: #CCCCCC;
}

.controls-container
{
    color: white;
    font-weight: 300;
    background-color: #535353;
}

.seriesHidden
{
    background-color: #535353;
    opacity: 0.4;
}

.header-bar-side-closed
{
    border-bottom: solid black 1px;
}

.text-button-main
{
    background-color: #535353;
    border: solid black 1px;
}

.custom-dropdown-img
{
    cursor: pointer;
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
    background-color: transparent;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.rotateOn {
    -webkit-transform: rotate(90deg)!important;
    -moz-transform: rotate(90deg)!important;
    -ms-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.yaxis-component-container .vpd-val-col
{
    min-width: 80px;
}

.yaxis-component-container .vpd-button-col
{
    padding: 0px;
}

.yaxis-component-wrapper
{
    margin-left: 8px;
}

.instrument-header
{
    color: white;
    font-weight: bold;
}

.yaxis-component-container .button-info-container
{
    padding-bottom: 5px;
}


.yaxis-component-container .series-on
{
    color: white;
}