<div *ngFor="let series of chart.oscopeChansActive, let i = index;" (click)="setActiveSeries(i)" class="yaxis-component-wrapper">
    <div (dblclick)="toggleSeriesSettings(i)" [ngClass]="{'header-bar-side-closed': !showSeriesSettings[i]}" class="align-center-container header-bar-side">
        <button ion-button [ngClass]="{seriesHidden: !chart.getSeriesVisibility(i)}" (click)="toggleVisibility(i, $event)" class="align-left disable-hover" [style.background-color]="chart.getSeriesColor(i)">{{chart.getSeriesVisibility(i)===true?'on':'off'}}</button>
        <div class="vertical-align">{{names[i]}}</div>
        <button ion-button (click)="openSeriesPopover(i)" class="align-right disable-hover"><ion-icon name="settings" class="font-size-button"></ion-icon></button>
    </div>
    <ion-row *ngIf="showSeriesSettings[i]" class="controls-container">
        <ion-col> 
            <div>
                <div class="yaxis-control-wrapper">
                    <div class="align-center"><button ion-button [disabled]="chart.activeVPDIndex[i] == chart.voltsPerDivOpts.length-1" (click)="chart.incrementVPD(i)" class="icon-only-button-side disable-hover"><ion-icon name="arrow-up"></ion-icon></button></div>
                    <div class="align-center">{{chart.voltsPerDivOpts[chart.activeVPDIndex[i]]}}/div</div>
                    <div class="align-center"><button ion-button [disabled]="chart.activeVPDIndex[i] == 0" (click)="chart.decrementVPD(i)" class="icon-only-button-side disable-hover"><ion-icon name="arrow-down"></ion-icon></button></div>
                </div>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <div class="yaxis-control-wrapper">
                    <div class="align-center"><button ion-button (click)="chart.incrementOffset(i)" class="icon-only-button-side disable-hover"><ion-icon name="arrow-up"></ion-icon></button></div>
                    <div class="align-center">Offset</div>
                    <div class="align-center"><button ion-button (click)="chart.decrementOffset(i)" class="icon-only-button-side disable-hover"><ion-icon name="arrow-down"></ion-icon></button></div>
                </div>
            </div>
        </ion-col>
    </ion-row>
</div>