<div class="yaxis-component-container">
    <div *ngIf="settingsService.nestedChannels" class="header-bar-side align-center-container" center text-center>
        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showOscSettings}" (click)="toggleOscSettings()" src="assets/img/arrow-right.png">
        <span class="header-bar-title instrument-header">Oscilloscope</span>
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>
    <div *ngIf="showOscSettings">
        <div *ngFor="let series of chart.deviceDescriptor.instruments.osc.chans, let i = index;" (click)="setActiveSeries(i)" [ngClass]="{'yaxis-component-wrapper':settingsService.nestedChannels, 'set-top-border':i!=0}">
            <div class="align-center-container header-bar-side">
                <img class="custom-dropdown-img" [ngClass]="{rotateOn: showSeriesSettings[i]}" (click)="toggleSeriesSettings(i)" src="assets/img/arrow-right.png">
                <div class="vertical-align" [ngClass]="{'instrument-header': !settingsService.nestedChannels}">{{settingsService.nestedChannels === false ? 'Osc' : ''}} {{names[i]}}</div>
                <button ion-button clear (click)="toggleVisibility(i, $event)" class="align-left disable-hover" [style.background-color]="getSeriesColor(i)" [ngClass]="{'series-on': chart.oscopeChansActive[i]}">
                    <ion-icon name="power"></ion-icon>
                </button>
            </div>
            <div *ngIf="showSeriesSettings[i]" class="button-info-container">
                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Volts/
                    </ion-col>
                    <ion-col text-right center class="vpd-button-col">
                        <div style="display:inline-block">
                            <button ion-button [disabled]="chart.activeVPDIndex[i] == chart.voltsPerDivVals.length-1" (tap)="chart.incrementVPD(i)" class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-out.png">
                            </button>
                        </div>
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <input class="custom-input" step="any" [ngModel]="chart.voltDivision[i] | unitFormat:'V/'" (focusout)="inputLeave($event, i, 'vpd')" (keypress)="checkForEnter($event, i, 'vpd')" />
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <div style="display:inline-block">
                            <button ion-button [disabled]="chart.activeVPDIndex[i] == 0" (tap)="chart.decrementVPD(i)" class="img-button disable-hover">
                                <img class="custom-image-button" src="assets/img/zoom-in.png">
                            </button>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row class="controls-container">
                    <ion-col center class="vpd-label-col">
                        Offset
                    </ion-col>
                    <ion-col text-right center class="vpd-button-col">
                        <button ion-button (tap)="chart.decrementOffset(i)" class="icon-only-button-side disable-hover offset-button"><ion-icon name="remove"></ion-icon></button>
                    </ion-col>
                    <ion-col class="vpd-val-col" center text-center>
                        <input class="custom-input" step="any" [ngModel]="chart.voltBase[i] | unitFormat:'V'" (focusout)="inputLeave($event, i, 'offset')" (keypress)="checkForEnter($event, i, 'offset')" />
                    </ion-col>
                    <ion-col text-left center class="vpd-button-col margin-right">
                        <button ion-button (tap)="chart.incrementOffset(i)" class="icon-only-button-side disable-hover offset-button"><ion-icon name="add"></ion-icon></button>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</div>