.flot-container-container
{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
}

#flotContainer
{
  flex: 1 1 400px;
}

.flot-container-container .button-container
{
  flex: 0 0 36px;
}