<div class="timeline-component-container">
    <ion-row>
        <ion-col text-center class="timeline-col">
            <button ion-button class="icon-only-button-side disable-hover timeline-button" (click)="incrementBuffer()"><ion-icon name="arrow-up"></ion-icon></button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center class="timeline-col">
            <ion-input class="timelineComponentInput" [(ngModel)]="activeDevice.instruments.osc.activeBuffer" (ngModelChange)="activeBufferChange()"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center class="timeline-col">
            <button ion-button class="icon-only-button-side disable-hover timeline-button" (click)="decrementBuffer()"><ion-icon name="arrow-down"></ion-icon></button>
        </ion-col>
    </ion-row>
</div>
