.timeline-chart-container
{
    position: relative;
    height: 100%;
    width: 100%;
}

.timeline-wrapper 
{
    display: block;
    height: 100%;
}

.timeline-chart-container #timelineContainer
{
    height: 100%;
    background-color: black;
}
