<ion-content class="load-firmware-container">

    <ion-slides #loadFirmwareSlider>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Load Firmware</div>
                <ion-list class="firmware-list">
                    <ion-item class="configure-item">
                        <ion-label>Device</ion-label>
                        <div item-right class="item-content-right dropdown-popover-item-right">
                            <dropdown-popover [forcePopover]="true" [dataArray]="knownDevicePrettyNames" (onSelection)="dropdownDeviceChange($event)"></dropdown-popover>
                        </div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>Firmware</ion-label>
                        <div item-right class="item-content-right">
                            <span *ngIf="selectedDevice !== 'Other'">{{deviceFirmwareVersionDictionary[selectedDevice].latest}}</span>
                            <button ion-button class="text-button-side disable-hover item-button" *ngIf="selectedDevice === 'Other'" (click)="openFileInput()">Browse</button>
                        </div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>Status</ion-label>
                        <div item-right class="item-content-right">
                            {{firmwareStatus}}
                        </div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>Important</ion-label>
                        <div item-right class="item-content-right">
                            The device must be in bootloader mode
                        </div>
                    </ion-item>
                </ion-list>


                <input class="hidden-file-input" type="file" id="firmwareFileSelect" name="firmwareFileSelect" (change)="fileChange($event)" />

                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-left>
                            <button ion-button icon-left class="text-button-side disable-hover" (click)="closeModal()">
                                <img class="custom-image-button" src="assets/img/close.svg" />
                                Close
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="toProgressBar()">
                                Flash Selected Firmware
                                <img class="custom-image-button" src="assets/img/arrow-forward.svg" />
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

        <ion-slide class="slide-container">
            <div class="content-container">
                <div class="slide-header">Updating Firmware</div>
                <digilent-progress-bar #digilentProgressBar (progressBarDone)="doneUpdating()"></digilent-progress-bar>

                <ion-item class="configure-item">
                    <ion-label>Status</ion-label>
                    <div item-right class="item-content-right">
                        {{firmwareStatus}}
                    </div>
                </ion-item>

                <div class="navigation-button-container">
                    <ion-row>
                        <ion-col text-right>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="closeModal()" *ngIf="updateComplete && !errorUpdatingFirmware">
                                Done
                                <img class="custom-image-button" src="assets/img/check.svg">
                            </button>
                            <button ion-button icon-right class="text-button-side disable-hover" (click)="closeModal()" *ngIf="errorUpdatingFirmware">
                                Cancel
                                <img class="custom-image-button" src="assets/img/close.svg">
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-slide>

    </ion-slides>

</ion-content>