<ion-content #mycontent>
    <div class="chart-page-container" id="instrument-panel-container">
        <div class="top-bar-container">
            <ion-row>
                <ion-col class="move-left" center text-center>
                    <button clear ion-button menuToggle class="open-menu-button">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                </ion-col>

                <ion-col width-30 text-center center>
                    <div class="timeline-chart-wrapper">
                        <timeline-chart (timelineChartLoad)="saveTimelineChart($event)"></timeline-chart>
                    </div>
                </ion-col>
                <ion-col text-center center class="buffer-count-container">
                    <div><timeline [chart]="chart1"></timeline></div>
                </ion-col>
                <ion-col class="inner-ctrls" text-right center>
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="singleClick()">
                        <span class="collapse-button">Single</span>
                        <ion-icon name="play"></ion-icon>
                    </button>
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="runClick()" *ngIf="!running">
                        <span class="collapse-button">Run</span>
                        <ion-icon name="repeat"></ion-icon>
                    </button>
                    <button ion-button icon-right class="text-button-side disable-hover" (click)="stopClick()" *ngIf="running">
                        <span class="collapse-button">Stop</span>
                        <ion-icon name="hand"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </div>

        
        <div class="center-container">
            <div class="chart-wrapper">
                <!-- chart here -->
                <silverNeedleChart #chart1 (chartLoad)="initSettings()"></silverNeedleChart>
            </div>
            <div class="controls-wrapper">
                <!-- controls here -->
                <div class="fgen-button-container">
                    <button ion-button class="icon-only-button-side disable-hover fgen-button" (click)="toggleControls()">
                        <ion-icon name="pulse"></ion-icon>
                    </button>
                </div>
                <trigger #triggerComponent></trigger>
                <xaxis-controls [chart]="chart1"></xaxis-controls>
                <yaxis-controls [chart]="chart1"></yaxis-controls>
            </div>
            <div class="fgen-wrapper" [ngClass]="{'show-fgen': controlsVisible}">
                <!-- fgen here -->
                <fgen [hidden]="!controlsVisible"></fgen>
            </div>
        </div>


        
        <div class="bottom-bar-container">
            <bottom-bar (headerClicked)="toggleBotControls();"></bottom-bar>
        </div>
    </div>
</ion-content>