<ion-content #mycontent>

    <div class="custom-backdrop" *ngIf="tutorialMode"></div>

    <div class="chart-page-container" id="instrument-panel-container">
        <ion-row class="top-bar-container">
            <ion-col class="move-left" center text-center>
                <button clear ion-button menuToggle class="open-menu-button">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-col>

            <ion-col width-30 text-center center>
                <div class="timeline-chart-wrapper">
                    <timeline-chart></timeline-chart>
                </div>
            </ion-col>
            <ion-col *ngIf="false" text-center center class="buffer-count-container">
                <div>
                    <timeline [chart]="chart1"></timeline>
                </div>
            </ion-col>
            <ion-col class="inner-ctrls" text-center center>
                <button *ngIf="(!readingLa && !readingOsc) || running" ion-button icon-right class="text-button-side disable-hover main-button" (click)="singleClick()">
                    <span class="collapse-button">Single</span>
                    <img class="custom-image-button" src="assets/img/single.png">
                </button>
                <button *ngIf="(readingLa || readingOsc) && !running" ion-button icon-right class="text-button-side disable-hover main-button" (click)="abortSingle()">
                    <span class="collapse-button">Abort</span>
                    <ion-icon name="ios-square" class="red-stop remove-icon-padding"></ion-icon>
                </button>
                <button ion-button icon-right class="text-button-side disable-hover main-button" (click)="runClick()" *ngIf="!running">
                    <span class="collapse-button">Run</span>
                    <img class="custom-image-button" src="assets/img/run.png">
                </button>
                <button ion-button icon-right class="text-button-side disable-hover main-button" (click)="stopClick()" *ngIf="running">
                    <span class="collapse-button">Stop</span>
                    <ion-icon name="ios-square" class="red-stop remove-icon-padding"></ion-icon>
                </button>
                <div class="trigger-indicator">
                    {{triggerStatus}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="center-container">
            <ion-col class="custom-col">
                <silverNeedleChart #chart1 (chartLoad)="initSettings()" class="chart-wrapper"></silverNeedleChart>
                <ion-fab class="tutorial-mode-button" *ngIf="tutorialMode">
                    <button ion-fab mini class="help-button" (click)="executeHelp()" [ngClass]="{'end-tutorial': tutorialMode, 'help-button': !tutorialMode}">
                        <ion-icon [name]="tutorialMode ? 'close' : 'help'"></ion-icon>
                    </button>
                </ion-fab>
            </ion-col>
            <ion-col class="controls-wrapper">
                <xaxis-controls [chart]="chart1"></xaxis-controls>
                <trigger #triggerComponent [chart]="chart1"></trigger>
                <yaxis-controls [chart]="chart1"></yaxis-controls>
                <fgen></fgen>
                <digital-io #gpioComponent [chart]="chart1"></digital-io>
                <dc-supply></dc-supply>
            </ion-col>
        </ion-row>
    </div>
</ion-content>