//NEW
.chart-page-container
{
    //background-color: #535353;
    display: flex;
    flex-direction: column;
    height: 100%;
}

//Top

.chart-page-container .top-bar-container
{
    flex: 0 1 auto;
    background-color: #535353;

    border-bottom: solid black 1px;
}

.chart-page-container .timeline-chart-wrapper
{
    height: 10vh;
    max-height: 52px;
    min-height: 52px;
    padding-left: 0px;
    padding-right: 0px;
}

.chart-page-container .top-bar-container .inner-ctrls
{
    padding-right: 5px;
    background-color: #535353;
    z-index: 5;
    max-width: 219px;
    padding-left: 5px;
}

.chart-page-container .top-bar-container .buffer-count-container
{
    max-width: 42px;
    padding: 0 0 0 0;
}

//Center

.chart-page-container .center-container
{
    flex: 1 1 auto;
    height: 100%;
    background-color: #535353;

    display: flex;
    flex-direction: row;
    overflow: none;
}

.chart-page-container .center-container .chart-wrapper
{
    //display: block;
    height: 100%;
    flex: 1 10 50%;
}

.chart-page-container .center-container .controls-wrapper
{
    width: 20%;
    max-width: 225px;
    min-width: 215px;
    flex: 0 1 20%;
    overflow: auto;
    
    background-color: #535353;
    z-index: 5;
    border-left: solid black 1px;
}

.chart-page-container .center-container .show-fgen
{
    min-width: 200px;
    flex: 1 0 200px;
    overflow: auto;

    background-color: #444444;
    z-index: 5;
    border-top: solid #686868 1px;
    padding-left: 0.5rem;
}

.chart-page-container .center-container .fgen-button-container
{
    border-bottom: solid black 1px;
    border-top: solid #686868 1px;
    text-align: right;
    padding: 1px 0px 1px 0px;
}

.chart-page-container .center-container .fgen-wrapper
{
    flex: 0 1 0px;
    width: 0px;
}

.chart-page-container .center-container .fgen-button-container .fgen-button
{
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
}


//Bottom
.chart-page-container .bottom-bar-container
{
    z-index: 5;
    flex: 0 0 auto;
    min-height: 21px;
}

.chart-page-container .move-left
{
    max-width: 50px;
}

.chart-page-container .move-left .open-menu-button
{
    background-color: #535353;
    color: white;
    border-radius: 0px;
    vertical-align: middle;
    margin: 0 0 0 0;
}

.chart-page-container .move-left .open-menu-button:hover
{
    background-color: #686868;
}

//Disables scroll for all pages
.scroll-content {
    overflow-y: auto;
}

//Remove text from collapse buttons also this is cool
@media screen and (max-width: 500px) {
    .chart-page-container .collapse-button {
        display: none;
    }
    .chart-page-container .top-bar-container .inner-ctrls .text-button-side {
        margin-top: 0.1rem;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
        margin-left: 0.1rem;
        font-size: 8px;
        height: 25px;
        background-color: #535353;
        border: solid black 1px;
        border-radius: 0px;
        min-width: 0px;
    }
    .chart-page-container .top-bar-container .inner-ctrls
    {
        max-width: 110px;
    }
    .chart-page-container [icon-right] ion-icon {
        padding-left: 1px;
    }
}