.bode-component-container
{
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    /*bottom: 0;
    overflow: hidden;
    min-height: 0.1px;*/
    height: 100%;
}