.fgen-chart-container
{
    height: 100%;
    background-color: #535353;
    color: white;
}
.fgen-chart-container .container-test 
{
    height: 100%;
    padding: 10px;
    //background-color: green;
}

.settings-underline
{
    margin-bottom: 0px;
    padding-bottom: 1rem;
}

@media only screen and (min-height: 768px) and (min-width: 768px)
{
    .modal-wrapper
    {
        width: 95%;
        left: calc(50% - (95%/2));
    }
}

.modal-wrapper .modal-fgen-page
{
    width: 100%;
}

.fgen-chart-container .fgen-settings-container
{
    background-color: #535353;
    color: white;
}

.fgen-chart-container .fgen-settings-container .fgen-segment-button
{
    color: white;
}

.fgen-chart-container .powerOff
{
    background-color: #535353;
    color: #A1A1A1;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border:solid #535353 1px;
}

.fgen-chart-container .powerOn
{
    background-color: #4487BA;
    color: white;
}

.fgen-chart-container .power-underline
{
    border-bottom: solid #686868 1px !important;
}

.fgen-chart-container .powerOff:hover
{
    background-color: #535353;
    border: solid white 1px;
}

.fgen-chart-container .dummy-power-underline
{
    display: inline-block;
    border-bottom: solid #535353 1px;
    margin-bottom: 5px;
}

.fgen-chart-container .power-button-divider
{
    border-bottom: solid black 1px;
}

.fgen-chart-container .powerOn:hover
{
    background-color: #4487BA;
}

.fgen-chart-container .item-inner {
    border-bottom-color: #686868 !important;
    box-shadow: inset 0 -1px 0 0 black !important;
}

.fgen-chart-container .hidden-file-input
 {
     opacity: 0;
     max-height: 0px;
 }