.chart-modal-container
{
    position: absolute;            
    top: 50%;      
    left: 50%;                  
    transform: translate(-50%, -50%);
    max-width: 300px;
    width: 100%;
}

.chart-modal-container .functionality-wrapper
{
    background-color: #535353;
    width: 100%;
}

.chart-modal-container .color-picker
{
    max-height: 0px;
    max-width: 0px;
    visibility: hidden;
}

.chart-modal-container .color-picker-button
{
    width: 25px;
    height: 25px;
    border-radius: 0px;
    font-size: 1.2rem;
}

.chart-modal-container .custom-ion-label
{
    color: #999;
    font-size: 1.2rem;
    margin-top: 8px;
}

.chart-modal-container .ion-item-outline
{
    margin-left: 16px;
    border-bottom: solid #686868 1px;
}

.chart-modal-container .custom-ion-item
{
    
    background-color: #444444;
    border-bottom: solid black 1px;
}

.chart-modal-container .chart-color-container
{
    color: white;
    border-top: solid #686868 1px;
}