.chart-modal-container
{
    text-align: center;
    background: transparent;
}

.chart-modal-container .functionality-wrapper
{
    background-color: #535353;
    max-width: 300px;
    width: 100%;
    display: inline-block;
}