.chart-modal-container
{
    position: absolute;            
    top: 50%;      
    left: 50%;                  
    transform: translate(-50%, -50%);
    max-width: 300px;
    width: 100%;
}

.chart-modal-container .functionality-wrapper
{
    background-color: #535353;
    width: 100%;
}