.full-height-row
{
    //background-color: yellow;
    height: 100%;
}

.chart-col
{
    //background-color: purple;
    height: 100%;
}

.controls-col
{
    //background-color: orange;
    min-height: 100%;
}

.oscope-chart-outer
{
    //background-color: red;  
    height: 100%;
}

.oscope-chart-inner
{
    //background-color: blue;
    height: 100%;    
}

chart 
{
    display: block;
    height: 100%;
}

.clear-both
{
    clear: both;
}