.full-height-row
{
    //background-color: #444444;
    height: 100%;
}

.chart-col
{
    //background-color: purple;
    height: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; 
}

.controls-col
{
    //background-color: orange;
    min-height: 100%;
}

.oscope-chart-outer
{
    //background-color: red;  
    height: 100%;
}

.oscope-chart-inner
{
    //background-color: blue;
    height: 100%;    
}

chart 
{
    display: block;
    height: 100%;
}

.clear-both
{
    clear: both;
}

//Small Screens
@media screen and (max-width: 720px) {
    .controls-col {
        display:none;
    }
    .chart-col
    {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; 
        //background-color: green;
    }
}