<ion-row class="full-height-row">
    <ion-col class="chart-col">
        <div class="oscope-chart-outer">
            <div #oscopeChartInner class="oscope-chart-inner">
                <chart #chartContainer [options]="options" (load)="onLoad($event.context)"></chart>
            </div>
        </div>
    </ion-col>
    <ion-col width-25 class="controls-col">
        <div class="oscope-ctrls">
            <center>
                <h3>Controls</h3></center>

            <ion-list>
                <ion-item>
                    <ion-label>Remote Data Source</ion-label>
                    <ion-toggle checked="false" [(ngModel)]="remoteDataSource"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Sample Rate (Hz):</ion-label>
                    <ion-input type="number" value="1000" [(ngModel)]="sampleRate"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Number of Samples:</ion-label>
                    <ion-input type="number" [(ngModel)]="numSamples" value="20"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Signal Frequency (Hz):</ion-label>
                    <ion-input type="number" [(ngModel)]="sigFreq" value="20"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Phase Offset (deg):</ion-label>
                    <ion-input type="number" [(ngModel)]="phaseOffset" value="20"></ion-input>
                </ion-item>
            </ion-list>
            <button outline (click)="single(sampleRate, numSamples, sigFreq, phaseOffset)">
                Single
                <ion-icon name="play"></ion-icon>
            </button>
            <button outline *ngIf="!run" (click)="continuous(sampleRate, numSamples, sigFreq, phaseOffset)">
                Run
                <ion-icon name="repeat"></ion-icon>
            </button>
            <button outline *ngIf="run" (click)="stop()">
                Stop
                <ion-icon name="stop"></ion-icon>
            </button>
            <h3>X Axis</h3>
            <ion-item>
                <ion-label>Position:</ion-label>
                <ion-input type="number" [ngModel]="xPosition" (ngModelChange)="xViewChange($event, xUnitsPerDiv)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Base:</ion-label>
                <ion-input type="number" [ngModel]="xUnitsPerDiv" (ngModelChange)="xViewChange(xPosition, $event)"></ion-input>
            </ion-item>
            <h3>Y Axis</h3>
            <ion-item>
                <ion-label>Position:</ion-label>
                <ion-input type="number" [ngModel]="yPosition" (ngModelChange)="yViewChange($event, yUnitsPerDiv)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Base:</ion-label>
                <ion-input type="number" [ngModel]="yUnitsPerDiv" (ngModelChange)="yViewChange(yPosition, $event)"></ion-input>
            </ion-item>
            <button outline (click)="addCursor()">
                Add X Cursor
                <ion-icon name="play"></ion-icon>
            </button>
            <button outline (click)="reflowChart()">
                Reflow
                <ion-icon name="play"></ion-icon>
            </button>
            <br />
            <br />
            <br />Frame: {{frameNumber}}
            <br />
        </div>
    </ion-col>
</ion-row>