<div class="math-modal-wrapper">
    <ion-row>
        <div class="channel-div">
            <ion-row *ngFor="let chan of mathChannels">
                <ion-col>
                    <button ion-button (click)="setActiveSeries(chan)" class="button-effects disable-hover">{{chan}}</button>
                </ion-col>
            </ion-row>
        </div>
        <ion-col class="data-container">
            <ion-row *ngFor="let row of buttonNames, let i = index;">
                <ion-col *ngFor="let button of row, let j = index;">
                    <div><button ion-button (click)="exportMathInfoToChart()" class="button-effects disable-hover">{{button}}</button></div>
                    <!--<center><button (click)="exportMathInfoToChart()" class="button-effects disable-hover">{{button}}</button></center>-->
                    <div class="center">{{getMetrics(button)}}</div>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="exit-buttons">
        <ion-col>
            <div class="align-buttons">
                <button ion-button class="button-effects disable-hover" (click)="closeModal()">OK</button>
                <button ion-button class="button-effects disable-hover" (click)="closeModal()">Cancel</button>
            </div>
        </ion-col>
    </ion-row>
</div>