.math-modal-wrapper
{
    padding-top: 5px;
    background-color: #535353;
}

.math-modal-wrapper .channel-div
{
    padding: 5px;
}

.math-modal-wrapper .center
{
    text-align: center;
    color: #CCCCCC;
    font-size: 1.2rem;
}

.math-modal-wrapper .selected-channel
{
    background-color: #3A3A3A;
}

.math-modal-wrapper .channel-separator
{
    padding-bottom: 5px;
}

.math-modal-wrapper .select-button
{
    background-color: #3A3A3A;
    width: 50%;
    border: solid black 1px;
    border-radius: 0px;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
    height: 22px;
    font-size: 12px;
    box-shadow: none;
    .button-inner {
        justify-content: space-between;
        padding-left: 4px;
        padding-right: 5px;
        text-transform: none;
        color: #CCCCCC;
    }
}