<div class="digital-pop-container">
    <div class="pop-header">
        <div class="left"><button class="digital-pop-button" (click)="setAll()" ion-button item-left>Set All</button></div>
        <span class="pop-header-text">Select Outputs</span>
        <div class="right"><button class="digital-pop-button" (click)="setNone()" ion-button item-right>Set None</button></div>
    </div>
    <ion-list>
        <ion-item class="channel-item" *ngFor="let channel of digitalComponent.gpioChans, let i = index;">
            <span>Ch {{i + 1}}</span>
            <button item-right (click)="setDirection(i)" class="channel-button" [ngClass]="{'button-on': digitalComponent.gpioDirections[i]}"></button>
        </ion-item>
    </ion-list>
</div>