<div class="xaxis-component-wrapper">
    <div (dblclick)="toggleSeriesSettings()" class="header-bar-side align-center-container" center text-center>
        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showTimeSettings}" (click)="toggleSeriesSettings()" src="assets/img/arrow-right.png">
        <span class="header-bar-title">Time Settings</span>
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>
    <ion-row *ngIf="showTimeSettings" class="controls-container">
        <ion-col text-center>
            <ion-row class="xaxis-flex" center text-center>
                <ion-col class="xaxis-left">
                    <button ion-button (click)="chart.decrementTPD()" [disabled]="chart.activeTPDIndex == 0" class="icon-only-button-side disable-hover">
                        <ion-icon name="arrow-down"></ion-icon>
                    </button>
                </ion-col>
                <ion-col class="xaxis-center" center text-center>
                    {{chart.secsPerDivOpts[chart.activeTPDIndex]}}/
                </ion-col>
                <ion-col class="xaxis-right">
                    <button ion-button (click)="chart.incrementTPD()" [disabled]="chart.activeTPDIndex == chart.secsPerDivOpts.length-1" class="icon-only-button-side disable-hover">
                        <ion-icon name="arrow-up"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</div>