<div class="xaxis-component-wrapper">
    <div class="header-bar-side align-center-container" center text-center>
        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showTimeSettings}" (click)="toggleSeriesSettings()" src="assets/img/arrow-right.png">
        <span class="header-bar-title instrument-header">Time Base</span>
        <div style="width:26px;height:26px;display:inline-block;"></div>
    </div>
    <ion-row *ngIf="showTimeSettings" class="controls-container time-base-row">
        <ion-col center class="tpd-label-col">
            Time/
        </ion-col>
        <ion-col center text-center class="xaxis-left">
            <button ion-button (tap)="chart.incrementTPD()" [disabled]="chart.activeTPDIndex == chart.secsPerDivVals.length-1" class="img-button disable-hover">
                <img class="custom-image-button" src="assets/img/zoom-out.png">
            </button>
        </ion-col>
        <ion-col class="xaxis-center" center text-center>
            <input class="custom-input" step="any" [ngModel]="chart.timeDivision | unitFormat:'s/'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
        </ion-col>
        <ion-col center text-center class="xaxis-right">
            <button ion-button (tap)="chart.decrementTPD()" [disabled]="chart.activeTPDIndex == 0" class="img-button disable-hover">
                <img class="custom-image-button" src="assets/img/zoom-in.png">
            </button>
        </ion-col>
    </ion-row>
</div>