<div class="xaxis-component-wrapper">
    <!--<ion-row>
        <ion-col class="header-side-col" center text-left>
            <button ion-button clear class="dropdown-image-button" (tap)="toggleSeriesSettings()">
                <img class="custom-dropdown-img" [ngClass]="{rotateOn: showTimeSettings}" src="assets/img/collapse-arrow-right.svg">
            </button>
        </ion-col>
        <ion-col center text-center>
            <span class="header-bar-title instrument-header">Time Base</span>
        </ion-col>
        <ion-col class="header-side-col" center text-right>
        </ion-col>
    </ion-row>-->
    <ion-row *ngIf="showTimeSettings" class="controls-container time-base-row">
        <ion-col center class="tpd-label-col">
            Time/
        </ion-col>
        <ion-col center class="xaxis-left">
            <div style="display:inline-block">
                <button ion-button (tap)="chart.incrementTPD()" [disabled]="chart.activeTPDIndex == chart.secsPerDivVals.length-1" class="img-button disable-hover">
                    <img class="custom-image-button" src="assets/img/zoom-out.svg">
                </button>
            </div>
        </ion-col>
        <ion-col class="xaxis-center" center text-center>
            <div style="display:inline-block;" [tooltip]="tooltipService.getTooltip('xAxisTpd').message" [tooltipAnimation]="true" tooltipPlacement="bottom">
                <input class="custom-input highlight-input" step="any" [ngModel]="chart.timeDivision | unitFormat:'s/'" (focusout)="inputLeave($event)" (keypress)="checkForEnter($event)" />
            </div>
        </ion-col>
        <ion-col center class="xaxis-right">
            <div style="display:inline-block">
                <button ion-button (tap)="chart.decrementTPD()" [disabled]="chart.activeTPDIndex == 0" class="img-button disable-hover">
                    <img class="custom-image-button" src="assets/img/zoom-in.svg">
                </button>
            </div>
        </ion-col>
    </ion-row>
</div>