/*.xaxis-component-wrapper .xaxis-flex
{
    max-width: 140px;
}*/

.xaxis-component-wrapper .xaxis-left
{
    text-align: right;
    padding: 0px;
}

.xaxis-component-wrapper .xaxis-right
{
    text-align: left;
    padding: 0px;
}

.xaxis-component-wrapper .xaxis-center
{
    min-width: 80px;
}

.xaxis-component-wrapper
{
    border-bottom: solid black 1px;
}

.xaxis-component-wrapper .time-col-container
{
    padding-top: 0px;
}

.xaxis-component-wrapper .custom-image-button
{
    display: block;
}

.xaxis-component-wrapper .img-button
{
    border: solid black 1px;
    height: 26px;
    width: 26px;
    padding: 0px;
    background-color: #535353;
    border-radius: 0px;
    color: #CCCCCC;
    margin: 0px;
    box-shadow: none;
    font-weight: 400;
}

.xaxis-component-wrapper .img-button:hover
{
    border: solid white 1px;
}