<ion-content class="first-tab-container" padding>

    <div class="custom-backdrop" *ngIf="tutorialMode"></div>

    <div class="menu-button-container">
        <button ion-button menuToggle class="custom-menu-button disable-hover">
            <img class="custom-image-button" src="assets/img/menu.svg">
        </button>
    </div>

    <div class="tutorial-button-container">
        <button ion-button (tap)="executeHelp()" class="kickstarter-button disable-hover" [ngClass]="{'end-tutorial': tutorialMode, 'help-button': !tutorialMode}" *ngIf="tutorialMode">
            End Tutorial
        </button>
        <button ion-button (tap)="executeHelp()" class="kickstarter-button disable-hover" [ngClass]="{'end-tutorial': tutorialMode, 'help-button': !tutorialMode}" *ngIf="!tutorialMode">
            Tutorial
        </button>
    </div>

    <div class="beta-container">
        <img src="assets/img/digilent-logo.png">
    </div>

    <div class="align-center">
        <button ion-button icon-right (tap)="toggleAddDevMenu()" clear class="dev-menu-button" [tooltip]="tooltipMessages['addADevice']" 
            [forceShow]="tutorialStage===0 && tutorialMode" [tooltipAnimation]="true" tooltipPlacement="bottom" 
            [ngClass]="{'move-feature-to-front':tutorialStage===0 && tutorialMode}">
            Add a Device
            <div [@rotate]="showDevMenu" class="rotate-image-container">
                <img src="assets/img/arrow-dropdown-white.svg" class="custom-image-button">
            </div>
        </button>
    </div>
    <div [ngClass]="{fadein: showDevMenu}" class="fadeout" text-center>
        <div *ngIf="showDeviceTypeCard" class="devicetype-card" text-center>
            <div class="devicetype-button-container">
                <button icon-left ion-button class="devicetype-button disable-hover" (click)="setConnectionType('network')" [tooltip]="tooltipMessages['networkButton']" 
                    [forceShow]="tutorialStage===1 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'left' : 'bottom'">
                    <img class="custom-image-button" src="assets/img/wifi.svg">
                    Network
                </button>
            </div>
            <div class="devicetype-button-container">
                <button icon-left ion-button class="devicetype-button disable-hover" (click)="setConnectionType('simulated')" [tooltip]="tooltipMessages['simulatedButton']" 
                    [forceShow]="tutorialStage===1 && tutorialMode" [tooltipAnimation]="true" tooltipPlacement="bottom" 
                    [ngClass]="{'move-feature-to-front':tutorialStage===1 && tutorialMode}">
                    <img class="custom-image-button" src="assets/img/simulated.svg">
                    Simulated
                </button>
            </div>
            <div class="devicetype-button-container">
                <button icon-left ion-button class="devicetype-button disable-hover" (click)="setConnectionType('agent')" [tooltip]="tooltipMessages['agentButton']" 
                    [forceShow]="tutorialStage===1 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'bottom'">
                    <img class="custom-image-button" src="assets/img/agent.svg">
                    Agent
                </button>
            </div>
        </div>
        <div *ngIf="!showDeviceTypeCard">
            <div [ngSwitch]="deviceConnectionType">
                <div *ngSwitchCase="'network'" text-center>
                    <ion-card class="device-manager-card select-device-card">
                        <ion-item class="device-card-item">
                            <div item-left class="item-image-container">
                                <img class="custom-image-button" src="assets/img/wifi.svg">
                            </div>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <ion-label stacked>Hostname / IP</ion-label>
                                    <ion-input [(ngModel)]="addDeviceIp" (keypress)="checkForEnter($event, 'network')"></ion-input>
                                    <div item-right class="connect-button-container">
                                        <button ion-button class="connect-button disable-hover" (click)="backToChooseDeviceType()" [tooltip]="tooltipMessages['backToAddDevice']" 
                                            [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'bottom' : 'left'">
                                            <img class="custom-image-button" src="assets/img/close.svg">
                                        </button>
                                        <button ion-button class="connect-button disable-hover" (tap)="attemptConnect(addDeviceIp)" [tooltip]="tooltipMessages['addCurrentDevice']" 
                                            [forceShow]="tutorialStage===2 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'left'">
                                            <img class="custom-image-button" src="assets/img/add.svg">
                                        </button>
                                    </div>
                                </ion-item>
                            </ion-label>
                        </ion-item>
                    </ion-card>
                </div>

                <div *ngSwitchCase="'simulated'" text-center>
                    <ion-card class="device-manager-card select-device-card">
                        <ion-item class="device-card-item" [ngClass]="{'move-feature-to-front':tutorialStage===2 && tutorialMode}">
                            <div item-left class="item-image-container">
                                <img class="custom-image-button" src="assets/img/simulated.svg">
                            </div>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <div class="custom-ion-label">Simulated Device</div>
                                        <dropdown-popover class="dropdown-popover-selector" [dataArray]="simulatedDevices" (onSelection)="selectSimulatedDevice($event)"></dropdown-popover>
                                    <div item-right class="connect-button-container">
                                        <button ion-button class="connect-button disable-hover" (click)="backToChooseDeviceType()" [tooltip]="tooltipMessages['backToAddDevice']" 
                                            [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'bottom' : 'left'">
                                            <img class="custom-image-button" src="assets/img/close.svg">
                                        </button>
                                        <button ion-button class="connect-button disable-hover" (tap)="openSimDevice()" [tooltip]="tooltipMessages['addCurrentDevice']" 
                                            [forceShow]="tutorialStage===2 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'left'">
                                            <img class="custom-image-button" src="assets/img/add.svg">
                                        </button>
                                    </div>
                                </ion-item>
                            </ion-label>
                        </ion-item>

                    </ion-card>
                </div>

                <div *ngSwitchCase="'agent'" text-center>
                    <ion-card class="device-manager-card select-device-card">
                        <ion-item class="device-card-item">
                            <div item-left class="item-image-container">
                                <img class="custom-image-button" src="assets/img/agent.svg">
                            </div>
                            <ion-label class="add-device-label">
                                <ion-item class="dev-menu-item">
                                    <ion-label stacked>Digilent Agent</ion-label>
                                    <ion-input [(ngModel)]="deviceBridgeAddress" (keypress)="checkForEnter($event, 'agent')"></ion-input>
                                    <div item-right class="connect-button-container">
                                        <button ion-button class="connect-button disable-hover" (click)="backToChooseDeviceType()" [tooltip]="tooltipMessages['backToAddDevice']" 
                                            [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'bottom' : 'left'">
                                            <img class="custom-image-button" src="assets/img/close.svg">
                                        </button>
                                        <button ion-button class="connect-button disable-hover" (tap)="attemptBridgeConnect(deviceBridgeAddress)" [tooltip]="tooltipMessages['addCurrentDevice']" 
                                            [forceShow]="tutorialStage===2 && tutorialMode" [tooltipAnimation]="true" [tooltipPlacement]="tutorialMode ? 'right' : 'left'">
                                            <img class="custom-image-button" src="assets/img/add.svg">
                                        </button>
                                    </div>
                                </ion-item>
                            </ion-label>
                        </ion-item>

                    </ion-card>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div text-center>
            <ion-card class="device-manager-card highlight-device-card" *ngFor="let device of devices, let i = index;">

                <ion-item class="card-item" [ngClass]="{'move-feature-to-front':tutorialStage===3 && tutorialMode && i === 0}" [tooltip]="tooltipMessages['deviceCard']" 
                    [forceShow]="tutorialStage===3 && tutorialMode && i===0" [tooltipAnimation]="true" tooltipPlacement="bottom" forceShowDelay="500">
                    <ion-avatar item-left (click)="connectToDevice(i)">
                        <img src="assets/img/osmz.svg">
                    </ion-avatar>
                    <ion-label class="card-label" (click)="connectToDevice(i)">
                        <h2 class="turn-white">{{device.hostname}}</h2>
                        <p class="turn-white">{{device.ipAddress}}</p>
                        <p class="turn-white">{{device.deviceDescriptor.deviceModel}}</p>
                    </ion-label>

                    <div item-right class="button-container">
                        <div *ngIf="device.outdatedFirmware">
                            <button ion-button class="card-button alert-button" clear (click)="openUpdateFirmware(i)">
                                <img class="custom-image-button" src="assets/img/info.svg">
                            </button>
                        </div>
                        <div>
                            <button ion-button class="card-button" clear (click)="openPopover($event, i)" [tooltip]="tooltipMessages['deviceCardMore']" [tooltipAnimation]="true" tooltipPlacement="left">
                                <img class="custom-image-button" src="assets/img/more.svg">
                            </button>
                        </div>
                    </div>
                </ion-item>

            </ion-card>
        </div>
    </div>
</ion-content>