.first-tab-container
{
    background-color: #535353;
    height: 100%;
}

.first-tab-container .add-device-container
{
    max-width: 500px;
    display: inline-block;
    width: 100%;
}

.first-tab-container .align-center
{
    text-align: center;
}

.first-tab-container .dev-menu-button
{
    width: 75%;
    min-width: 125px;
    color: white;
    background-color: #535353;
}

.first-tab-container .dev-menu-item
{
    background-color: #535353;
    color: #CCCCCC;
    padding-left: 2px;
    border: none;
    overflow: visible;
}

.custom-loading-indicator
{
    .loading-wrapper {
        color: white;
        background-color: #535353;
        border-radius: 0px;
    }
}

.first-tab-container .connect-button
{
    background-color: #535353;
    border: solid black 1px;
    border-radius: 0px;
    margin: 0;
    min-width: 29px;
    width: 30px;
    padding-left: 6px;
    padding-right: 6px;
    color: #CCCCCC;
}

.first-tab-container .connect-button:hover
{
    border: solid white 1px;
}

.first-tab-container .device-manager-card
{
    max-width: 400px;
    cursor: pointer;
    background-color: #535353;
    display: inline-block;
    border: solid black 1px;
    overflow: visible;
}

/*.first-tab-container .device-manager-card:hover
{
    border: solid white 1px;
}*/

.first-tab-container .highlight-device-card:hover
{
    border: solid white 1px;
}

.first-tab-container .connect-button-container .tooltip.right .tooltip-arrow {
    top: 25%;
}

.first-tab-container .connect-button-container .tooltip.bottom .tooltip-arrow {
    left: 65%;
}

.first-tab-container .devicetype-card
{
    background-color: #535353;
}

.first-tab-container .devicetype-button-container
{
    display: inline-block;
}

.first-tab-container .devicetype-button
{
    background-color: #535353;
    border: solid black 1px;
    border-radius: 0px;
    font-size: 12px;
    min-width: 120px;
    color: #CCCCCC;
    .button-inner {
        justify-content: flex-start;
        ion-icon {
            padding-right: 12px;
        }
    }
}

@media screen and (max-width: 415px) {
    .first-tab-container .devicetype-button-container
    {
        display: block;
    }

    .first-tab-container .fadein
    {
        max-height: 135px;
    }
}

.first-tab-container .devicetype-button:hover
{
    border: solid white 1px;
}

.first-tab-container .device-manager-card .card-item:active
{
    background-color: #686868;
}

.first-tab-container .device-card-item
{
    background-color: #535353;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: visible;
}

.first-tab-container .dropdown-popover-selector select
{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 25px;
}

.first-tab-container .popover-button
{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: 400;
    height: 24px;
}

.first-tab-container .device-segment-button
{
    color: #4487BA;
}

.first-tab-container .segment-button.segment-activated 
{
    border-color: #4487BA !important;
}

.first-tab-container .connect-button-container
{
    margin: 14px 5px 0 0 !important;
}
 
.first-tab-container .device-card-item .item-inner
{
    padding-top: 0px;
    margin-left: 0px !important;
    border-bottom-color: black !important;
    box-shadow: inset 0 0 0 0 black !important;
    padding-right: 0px;
    overflow: visible;
}

.first-tab-container .device-card-item .add-device-icon
{
    color: white;
    margin-bottom: 0;
    margin-top: 16px;
}

.first-tab-container .device-card-item .dev-menu-item ion-input input
{
    background-color: #3A3A3A;
    border: solid black 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px 0px 2px 4px;
    font-size: 16px;
}

.first-tab-container .device-card-item .dev-menu-item ion-label
{
    margin-top: 2px;
    margin-bottom: 0px;
}

.first-tab-container .device-card-item .dev-menu-item .similated-device-button
{
    background-color: #3A3A3A;
    width: 100%;
    border: solid black 1px;
    border-radius: 0px;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
    .button-inner {
        justify-content: space-between;
        padding-left: 4px;
        padding-right: 5px;
    }
}

.first-tab-container .device-card-item .add-device-label
{
    margin: 0px 0px 0px 0px;
    overflow: visible;
}

.first-tab-container .device-manager-card .card-item
{
    background-color: #535353;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 10px;
    .item-inner {
        padding-right: 0px;
    }
}

.first-tab-container .device-manager-card .card-label > h2
{
    color: white;
}

.first-tab-container .device-manager-card .card-label > p
{
    color: white;
    opacity: 0.5;
}

.first-tab-container .device-manager-card .card-button
{
    min-width: 35px;
    margin: 0.4rem 0.2rem;
    color: #4487BA;
    font-size: 18px;
}

.first-tab-container .select-device-card .input-wrapper
{
    overflow: visible;
}

.first-tab-container .select-device-card
{
    cursor: default;
}

.fadein, .fadeout {
    max-height: 0;           
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.fadein {
    max-height: 75px;
    overflow: visible;
}

.first-tab-container .button-container
{
    margin-top: 0;
    margin-bottom: 0;
}

.first-tab-container .custom-menu-button
{
    background-color: transparent;
    width: 42px;
    box-shadow: none;
    padding-left: 4px;
    padding-right: 4px;

    ion-icon {
        font-size: 24px;
    }
}

.first-tab-container .devicetype-button .custom-image-button
{
    padding-right: 8px;
}

.first-tab-container .item-image-container
{
    margin-bottom: 0;
    margin-top: 16px;
}

.first-tab-container .menu-button-container
{
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 99;
}

.first-tab-container .beta-container
{
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 75px;
    max-width: 33%;
}

.first-tab-container .digilent-store-icon
{
    cursor: pointer;
}

.first-tab-container .tutorial-button-container
{
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 33%;
    z-index: 1000;
}

.first-tab-container .kickstarter-button
{
    background-color: #4487BA;
    font-size: 10px;
    border: solid black 1px;
    color: white;
    border-radius: 0;
    min-width: 100px;
    max-width: 100%;
}

.first-tab-container .kickstarter-button:hover
{
    border-color: white;
}

.first-tab-container .device-manager-card .button-container .alert-button
{
    color: yellow;
}

.first-tab-container .device-manager-card .card-label
{
    margin: 1px 0px 1px 0px;
}

.item-md ion-avatar img {
    border-radius: 0px;
    max-width: 50px;
    max-height: 50px;
}

.first-tab-container .custom-ion-label
{
    color: #999;
    font-size: 1.2rem;
    margin-top: 0px;
}