<div class="digi-container">
    
    <div class="title" (tap)="emitEvent()">
        <div class="header-bar">
            <ion-row>
                <ion-col class="header-side-col" center text-left>
                    <button ion-button clear class="dropdown-image-button" (tap)="toggleDigiSettings()">
                        <img class="custom-dropdown-img" [ngClass]="{rotateOn: showDigiContent}" src="assets/img/collapse-arrow-right.svg">
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <span class="header-bar-title instrument-header">{{isLogger === true ? 'Digital I/O' : 'Digital'}}</span>
                </ion-col>
                <ion-col class="header-side-col" center text-right>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div *ngIf="showDigiContent">
        <ion-row class="mode-row" *ngIf="!isLogger">
            <ion-col text-right>
                <button ion-button class="text-button-side disable-hover bottom-button" (tap)="setMode('analyzer')" 
                    [tooltip]="tooltipService.getTooltip('analyzerButton').message" [tooltipAnimation]="true" tooltipPlacement="top" 
                    [ngClass]="{'mode-selected la-mode':selectedMode==='analyzer'}">
                    Analyzer
                </button>
            </ion-col>
            <ion-col text-left>
                <button ion-button class="text-button-side disable-hover bottom-button bottom-button-right" (tap)="setMode('io')" 
                    [tooltip]="tooltipService.getTooltip('gpioButton').message" [tooltipAnimation]="true" tooltipPlacement="top" 
                    [ngClass]="{'mode-selected':selectedMode==='io'}">
                    I/O
                </button>
            </ion-col>
        </ion-row>
        <div *ngIf="selectedMode==='io'&&!directionMode">
            <ion-row wrap class="pad-top">
                <ion-col col-4 *ngFor="let channel of gpioChans, let i = index;" [ngClass]="{'digi-logger-col': isLogger, 'digi-col': !isLogger}" text-center>
                    <div class="channel-container">
                        <div>{{i + 1}}</div>
                        <div class="dummy-border" [tooltip]="getChannelTooltip(i, 'gpio')" [tooltipAnimation]="true" tooltipPlacement="left" [ngClass]="{'button-output': gpioDirections[i]}">
                            <button (tap)="toggleChannel(i)" class="channel-button" [disabled]="!gpioDirections[i]" [ngClass]="{'button-on': gpioVals[i], 'la-mode la-mode-border': laActiveChans[i], 'direction-mode direction-mode-border': gpioDirections[i]}">
                                <span class="button-indicator">{{getButtonState(i)}}</span>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="pad-top">
                <ion-col text-right class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button" (tap)="readAllIo($event)"
                        [tooltip]="tooltipService.getTooltip('refreshGpioButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/refresh.svg">
                    </button>
                </ion-col>
                <ion-col text-left class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button bottom-button-right" (tap)="toggleDirectionMode()"
                        [tooltip]="tooltipService.getTooltip('directionButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        Direction
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="selectedMode==='io'&& directionMode">
            <ion-row wrap class="pad-top">
                <ion-col *ngFor="let channel of gpioChans, let i = index;" [ngClass]="{'digi-logger-col': isLogger, 'digi-col': !isLogger}" text-center>
                    <div class="channel-container">
                        <div>{{i + 1}}</div>
                        <div class="dummy-border" [tooltip]="getChannelTooltip(i, 'direction')" [tooltipAnimation]="true" tooltipPlacement="left">
                            <button (tap)="toggleChanDirection(i)" class="channel-button direction-mode direction-mode-border" [ngClass]="{'button-on': gpioDirections[i]}">
                                <span class="button-indicator">{{getButtonState(i)}}</span>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="pad-top">
                <ion-col text-right class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button" (tap)="readAllIo($event)"
                        [tooltip]="tooltipService.getTooltip('refreshGpioButton').message" [tooltipAnimation]="true" tooltipPlacement="top">
                        <img src="assets/img/refresh.svg">
                    </button>
                </ion-col>
                <ion-col text-left class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button bottom-button-right" (tap)="toggleDirectionMode()" 
                        [tooltip]="tooltipService.getTooltip('directionButton').message" [tooltipAnimation]="true" tooltipPlacement="top" 
                        [ngClass]="{'mode-selected direction-mode':directionMode}">
                        Direction
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="selectedMode==='analyzer'">
            <ion-row wrap>
                <ion-col *ngFor="let channel of laChans, let i = index;" class="digi-col" text-center>
                    <div class="channel-container">
                        <div>{{i + 1}}</div>
                        <div class="dummy-border">
                            <button (tap)="toggleLaChan(i)" class="channel-button la-mode la-mode-border" 
                                [tooltip]="getChannelTooltip(i, 'analyzer')" [tooltipAnimation]="true" tooltipPlacement="left" 
                                [ngClass]="{'button-on': laActiveChans[i]}">
                                <span class="button-indicator">{{getButtonState(i)}}</span>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>