<div class="digi-container">
    <div class="title" (click)="emitEvent()">
        <div class="align-center-container header-bar">
            <img class="custom-dropdown-img" [ngClass]="{rotateOn: showDigiContent}" (click)="toggleDigiSettings()" src="assets/img/arrow-right.png">
            <div class="title-container instrument-header">Digital</div>
            <!--<button ion-button class="align-right disable-hover" (click)="doCheckbox($event)"><ion-icon name="settings"></ion-icon></button>-->
            <div style="width:26px;height:26px;display:inline-block;"></div>
        </div>
    </div>
    <div *ngIf="showDigiContent">
        <ion-row class="mode-row">
            <ion-col text-right>
                <button ion-button class="text-button-side disable-hover bottom-button" (click)="setMode('analyzer')" [ngClass]="{'mode-selected la-mode':selectedMode==='analyzer'}">Analyzer</button>
            </ion-col>
            <ion-col text-left>
                <button ion-button class="text-button-side disable-hover bottom-button bottom-button-right" (click)="setMode('io')" [ngClass]="{'mode-selected':selectedMode==='io'}">I/O</button>
            </ion-col>
        </ion-row>
        <div *ngIf="selectedMode==='io'&&!directionMode">
            <ion-row wrap>
                <ion-col *ngFor="let channel of gpioChans, let i = index;" class="digi-col" text-center>
                    <div class="channel-container">
                        <div>{{i + 1}}</div>
                        <div class="dummy-border" [ngClass]="{'button-output': gpioDirections[i]}">
                            <button (click)="toggleChannel(i)" class="channel-button" [disabled]="!gpioDirections[i]" [ngClass]="{'button-on': gpioVals[i]}">
                                <span class="button-indicator">{{getButtonState(i)}}</span>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-right class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button" (click)="readAllIo($event)"><ion-icon name="refresh"></ion-icon></button>
                </ion-col>
                <ion-col text-left class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button bottom-button-right" (click)="toggleDirectionMode()">Direction</button>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="selectedMode==='io'&&directionMode">
            <ion-row wrap>
                <ion-col *ngFor="let channel of gpioChans, let i = index;" class="digi-col" text-center>
                    <div class="channel-container">
                        <div>{{i + 1}}</div>
                        <div class="dummy-border">
                            <button (click)="toggleChanDirection(i)" class="channel-button direction-mode direction-mode-border" [ngClass]="{'button-on': gpioDirections[i]}">
                                <span class="button-indicator">{{getButtonState(i)}}</span>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-right class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button" (click)="readAllIo($event)"><ion-icon name="refresh"></ion-icon></button>
                </ion-col>
                <ion-col text-left class="bottom-buttons">
                    <button ion-button class="text-button-side disable-hover bottom-button bottom-button-right" (click)="toggleDirectionMode()" [ngClass]="{'mode-selected direction-mode':directionMode}">Direction</button>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="selectedMode==='analyzer'">
            <ion-row wrap>
                <ion-col *ngFor="let channel of laChans, let i = index;" class="digi-col" text-center>
                    <div class="channel-container">
                        <div>{{i + 1}}</div>
                        <div class="dummy-border">
                            <button (click)="toggleLaChan(i)" class="channel-button la-mode la-mode-border" [ngClass]="{'button-on': laActiveChans[i]}">
                                <span class="button-indicator">{{getButtonState(i)}}</span>
                            </button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>