.series-popover-container
{
    background-color: #444444;
}

.series-popover-container .item-container
{
    background-color: #444444;
    color: white;
}

.series-popover-container .item .item-inner 
{
    border-bottom: solid #686868 1px;
    box-shadow: inset 0 -1px 0 0 black;
}