.device-configure-modal-container
{
    background-color: #535353;
}

.device-configure-modal-container .device-configure-list
{
    margin-bottom: 0px;
}

.configure-item
{
    background-color: #3A3A3A;
    color: white;
    font-size: 14px;

    ion-label {
        flex: 1 0;
    }
}

.device-configure-modal-container .section-col-container
{
    background-color: #535353;
}

.device-configure-modal-container .set-white-font
{
    color: white;
}

.device-configure-modal-container .configure-button
{
    color: white;
}

.device-configure-modal-container .section-list
{
    margin: 0;
    border-left: solid #686868 1px;
    border-right: solid #686868 1px;
}

.device-configure-modal-container .section-col
{
    min-width: 250px;
    padding-right: 0px;
    max-width: 520px;
}

.device-configure-modal-container .dropdown-popover-item-right .dropdown-popover-container .popover-button
{
    height: 25px;
}

.device-configure-modal-container .dropdown-popover-item-right
{
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    dropdown-popover {
        width: 100%;
        .dropdown-select {
            cursor: pointer;
            height: 25px;
        }
    }
}

.device-configure-modal-container .invalid-enumeration {
    dropdown-popover {
        width: 80%;
    }
}

.device-configure-modal-container .alert-button 
{
    font-size: 10px;
    height: 25px;
    width: 26px;
    margin: 0px 0px 0px 2px;
}

.device-configure-modal-container .list-header
{
    background-color: #3A3A3A;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.device-configure-modal-container .first-item.item:first-child,
{
    border-top: none;
}

.device-configure-modal-container .item-button
{
    font-size: 10px;
}

.device-configure-modal-container .item-content-right
{
    color: #CCCCCC;
}

.device-configure-modal-container .section-header
{
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.device-configure-modal-container .custom-padding
{
    padding-top: 1px;
    padding-left: 16px;
}

.device-configure-modal-container .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    box-shadow: none;
}