.device-configure-modal-container
{
    background-color: #535353;
}

.device-configure-modal-container .device-configure-list
{
    margin-bottom: 0px;
}

.configure-item
{
    background-color: #535353;
    color: white;
}

.device-configure-modal-container .set-white-font
{
    color: white;
}

.device-configure-modal-container .configure-button
{
    color: white;
}

.configure-item .item,.item-inner
{
    border-bottom: solid black 1px;
}

.device-configure-modal-container .section-header
{
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.device-configure-modal-container .custom-padding
{
    padding-top: 1px;
    padding-left: 16px;
}

.device-configure-modal-container .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    box-shadow: none;
}