<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Configuration Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="device-configure-modal-container">    
    
    <!--<div>
        <div *ngIf="bridgeConfigure" class="custom-padding">
            <p class="section-header">Agent Configuration</p>
            <div *ngIf="devicesEnumeration">
                <p class="set-white-font">Select A Device</p>
                <ion-item class="configure-item" *ngFor="let thing of potentialDevices; let i = index;" (click)="selectDevice(i)">
                    {{thing}}
                </ion-item>
            </div>
            <div *ngIf="!devicesEnumeration">
                <button ion-button class="text-button-side disable-hover" (click)="reEnumerateAgent()">Change Agent Device</button>
            </div>
        </div>
        <div *ngIf="deviceConfigure" class="custom-padding">
            <p class="section-header">Device Configuration</p>
            <ion-list class="device-configure-list">
                <ion-item class="configure-item">
                    <ion-label stacked>Hostname</ion-label>
                    <ion-input [(ngModel)]=deviceObject.hostname></ion-input>
                </ion-item>
                <ion-item class="configure-item">
                    <p class="set-white-font">Device Address: {{deviceObject.connectedDeviceAddress || deviceObject.ipAddress}}</p>
                </ion-item>
                <ion-item class="configure-item">
                    <ion-row>
                        <ion-col text-center>
                            <button ion-button class="text-button-side disable-hover" clear (click)="openCalibrateWizard()">Calibrate</button>
                        </ion-col>
                        <ion-col text-center>
                            <button ion-button class="text-button-side disable-hover" clear (click)="openWifiWizard()">Setup Wifi</button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </div>
    </div>-->

    <!--<ion-list>
        <ion-item-group *ngIf="bridgeConfigure">
            <ion-item-divider class="list-header">Agent</ion-item-divider>
            <div *ngIf="devicesEnumeration">
                <p class="set-white-font">Select A Device</p>
                <ion-item class="configure-item" *ngFor="let thing of potentialDevices; let i = index;" (click)="selectDevice(i)">
                    {{thing}}
                </ion-item>
            </div>

            <ion-item class="configure-item" *ngIf="!devicesEnumeration">
                <button ion-button class="text-button-side disable-hover" (click)="reEnumerateAgent()">Change Agent Device</button>
            </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider class="list-header">WiFi Settings</ion-item-divider>
            <div *ngIf="deviceConfigure">
                <!--<p class="section-header">Device Configuration</p>-->
                <!--<ion-list class="device-configure-list">
                    
                </ion-list>
                <ion-item class="configure-item first-item">
                    <ion-label stacked>Hostname</ion-label>
                    <ion-input [(ngModel)]=deviceObject.hostname></ion-input>
                </ion-item>
                <ion-item class="configure-item">
                    <ion-label>Device Address</ion-label>
                    <div item-right class="item-content-right">{{deviceObject.connectedDeviceAddress || deviceObject.ipAddress}}</div>
                </ion-item>
                <ion-item class="configure-item">
                    <button ion-button class="text-button-side item-button disable-hover" clear (click)="openWifiWizard()">Setup Wifi</button>
                </ion-item>
            </div>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider class="list-header">Calibration</ion-item-divider>
            <ion-item class="configure-item">
                <ion-label fixed>Current Calibration</ion-label>
                <div item-right class="item-content-right">USER</div>
            </ion-item>
            <ion-item class="configure-item">
                <button ion-button class="text-button-side item-button disable-hover" clear (click)="openCalibrateWizard()">Calibrate</button>
            </ion-item>
        </ion-item-group>
        
    </ion-list>-->

    <ion-row wrap class="section-col-container">
        <ion-col class="section-col" *ngIf="bridgeConfigure">

            <ion-list class="section-list">
                <ion-item-divider class="list-header">Agent</ion-item-divider>
                <ion-item class="configure-item">
                    <ion-label>Selected Device</ion-label>
                    <div item-right class="item-content-right dropdown-popover-item-right" [ngClass]="{'invalid-enumeration':invalidEnumeration}">
                        <dropdown-popover [dataArray]="potentialDevices" (onSelection)="dropdownDeviceChange($event)"></dropdown-popover>
                        <button ion-button class="icon-only-button-side disable-hover alert-button" (click)="retryDeviceEnumeration()" *ngIf="invalidEnumeration">
                            <ion-icon name="alert"></ion-icon>
                        </button>
                    </div>
                </ion-item>
                <ion-item class="configure-item">
                    <button ion-button class="text-button-side item-button disable-hover" clear (click)="openCorrectFirmwareModal()">Update / Load Firmware</button>
                </ion-item>
            </ion-list>

        </ion-col>
        <ion-col class="section-col" *ngIf="deviceConfigure && !invalidEnumeration">

            <ion-list class="section-list">
                <ion-item-divider class="list-header">WiFi Settings</ion-item-divider>
                <ion-item class="configure-item first-item">
                    <ion-label stacked>Hostname</ion-label>
                    <ion-input [(ngModel)]=deviceObject.hostname></ion-input>
                </ion-item>
                <ion-item class="configure-item">
                    <ion-label>Device Address</ion-label>
                    <div item-right class="item-content-right">{{deviceObject.connectedDeviceAddress || deviceObject.ipAddress}}</div>
                </ion-item>
                <ion-item class="configure-item">
                    <button ion-button class="text-button-side item-button disable-hover" clear (click)="openWifiWizard()">Setup Wifi</button>
                </ion-item>
            </ion-list>

        </ion-col>
        <ion-col class="section-col" *ngIf="deviceConfigure && !invalidEnumeration">

            <ion-list class="section-list">
                <ion-item-divider class="list-header">Calibration</ion-item-divider>
                <ion-item class="configure-item">
                    <ion-label fixed>Current Calibration</ion-label>
                    <div item-right class="item-content-right">USER</div>
                </ion-item>
                <ion-item class="configure-item">
                    <button ion-button class="text-button-side item-button disable-hover" clear (click)="openCalibrateWizard()">Calibrate</button>
                </ion-item>
            </ion-list>

        </ion-col>
    </ion-row>

</ion-content>