<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Configuration Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="device-configure-modal-container">    
    
    <div>
        <div *ngIf="bridgeConfigure" class="custom-padding">
            <p class="section-header">Agent Configuration</p>
            <div *ngIf="devicesEnumeration">
                <p class="set-white-font">Select A Device</p>
                <ion-item class="configure-item" *ngFor="let thing of potentialDevices; let i = index;" (click)="selectDevice(i)">
                    {{thing}}
                </ion-item>
            </div>
            <div *ngIf="!devicesEnumeration">
                <button ion-button class="text-button-side disable-hover" (click)="reEnumerateAgent()">Change Agent Device</button>
            </div>
        </div>
        <div *ngIf="deviceConfigure" class="custom-padding">
            <p class="section-header">Device Configuration</p>
            <ion-list class="device-configure-list">
                <ion-item class="configure-item">
                    <ion-label stacked>Hostname</ion-label>
                    <ion-input [(ngModel)]=deviceObject.hostname></ion-input>
                </ion-item>
                <ion-item class="configure-item">
                    <p class="set-white-font">Device Address: {{deviceObject.connectedDeviceAddress || deviceObject.ipAddress}}</p>
                </ion-item>
                <ion-item class="configure-item">
                    <ion-row>
                        <ion-col text-center>
                            <button ion-button class="text-button-side disable-hover" clear (click)="openCalibrateWizard()">Calibrate</button>
                        </ion-col>
                        <ion-col text-center>
                            <button ion-button class="text-button-side disable-hover" clear (click)="openWifiWizard()">Setup Wifi</button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </div>
    </div>

</ion-content>