<ion-content class="device-configure-modal-container">

    <div>
        <ion-row>
            <ion-col class="back-button-col" center>
                <button ion-button class="custom-back-button disable-hover" (click)="done()">
                    <img class="custom-image-button" src="assets/img/arrow-back.svg">
                </button>
            </ion-col>
            <ion-col center class="config-title-menu-col">
                Configuration Menu
            </ion-col>
        </ion-row>
    </div>  

    <!--<ion-row wrap class="section-col-container">
        <ion-col class="section-col" *ngIf="bridgeConfigure">-->
    <div text-center>
        <div class="configure-item-wrapper" *ngIf="deviceConfigure || bridgeConfigure">
            <div *ngIf="bridgeConfigure">
                <ion-list class="section-list">
                    <ion-item-divider class="list-header">Digilent Agent</ion-item-divider>
                    <ion-item class="configure-item">
                        <ion-label>Selected Device</ion-label>
                        <div item-right class="item-content-right dropdown-popover-item-right" [ngClass]="{'invalid-enumeration':invalidEnumeration}">
                            <dropdown-popover #dropdownPop [dataArray]="potentialDevices" (onSelection)="dropdownDeviceChange($event)"></dropdown-popover>
                            <button ion-button class="icon-only-button-side disable-hover alert-button" (click)="retryDeviceEnumeration()" *ngIf="invalidEnumeration"
                                [tooltip]="tooltipService.getTooltip('configDeviceRetryEnumerate').message" [tooltipAnimation]="true" tooltipPlacement="left">
                                <img class="custom-image-button" src="assets/img/info.svg" />
                            </button>
                        </div>
                    </ion-item>
                    <ion-item class="configure-item only-button-item">
                        <button ion-button item-right class="text-button-side item-button disable-hover" clear (click)="reEnumerateAgent()">Re-Enumerate</button>
                    </ion-item>
                    <ion-item class="configure-item only-button-item" *ngIf="potentialDevices && potentialDevices.length > 0">
                        <button ion-button item-right class="text-button-side item-button disable-hover" clear (click)="openCorrectFirmwareModal()">Update Firmware</button>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngIf="deviceConfigure && !invalidEnumeration">
                <ion-list class="section-list">
                    <ion-item-divider class="list-header">Wifi Settings</ion-item-divider>
                    <ion-item class="configure-item first-item">
                        <ion-label>Name</ion-label>
                        <div item-right class="item-content-right hostname-input-wrapper">
                            <input class="custom-input" [(ngModel)]="deviceObject.hostname" />
                        </div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>Device Address</ion-label>
                        <div item-right class="item-content-right">{{deviceObject.connectedDeviceAddress || deviceObject.ipAddress}}</div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>Wifi Status</ion-label>
                        <div item-right class="item-content-right">{{nicStatusContainer.status}}</div>
                    </ion-item>
                    <ion-item class="configure-item">
                        <ion-label>SSID</ion-label>
                        <div item-right class="item-content-right">{{nicStatusContainer.ssid}}</div>
                    </ion-item>
                    <ion-item class="configure-item" *ngIf="deviceObject.bridge">
                        <ion-label>Device IP Address</ion-label>
                        <div item-right class="item-content-right">{{nicStatusContainer.ipAddress}}</div>
                    </ion-item>
                    <ion-item class="configure-item only-button-item" *ngIf="deviceObject.ipAddress !== 'local'">
                        <button ion-button item-right class="text-button-side item-button disable-hover" clear (click)="openWifiWizard()">Setup Wifi</button>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngIf="deviceConfigure && !invalidEnumeration">
                <ion-list class="section-list">
                    <ion-item-divider class="list-header">Calibration</ion-item-divider>
                    <ion-item class="configure-item">
                        <ion-label fixed>Current Calibration</ion-label>
                        <div item-right class="item-content-right">{{currentCalibration}}</div>
                    </ion-item>
                    <ion-item class="configure-item only-button-item" *ngIf="deviceObject.ipAddress !== 'local'">
                        <button ion-button item-right class="text-button-side item-button disable-hover" clear (click)="openCalibrateWizard()">Calibrate</button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
    <div text-center>
        <div text-right class="nav-button-wrapper">
            <button ion-button class="text-button-side disable-hover done-button" (click)="done()">
                {{(deviceConfigure && !invalidEnumeration) ? 'Done' : 'Cancel'}}
            </button>
        </div>
    </div>

</ion-content>